[2015-03-02 20:48] BraulioVM opened #2 "Is it possible to work on something related to Github's front-end?"
Hi! I just saw that github was accepted into the GSoC and got excited about working on features I would really love to see on github. These are features I'd like to see on github that I feel I could work on:
* PDF preview mode (with pdf.js)
* LaTeX preview mode
* LaTeX editing mode

I know that github itself is not an open source project, but I guess it could be possible to develop an open source

[2015-03-02 21:00] nkt opened #3 "Atom intelligent features"
Did you thought about Atom as an IDE? I mean Atom supports basic completion based on tokens inside file, but it's not a big deal to parse required files (in js).
Also atom natively supports js (cause it's written using it), so we could develop something like `spy-js` in webstorm. We could collect runtime information for completion improvement.

[2015-03-02 21:23] johndbritton commented on #2
Hi @BraulioVM, thanks for your interest. We're only accepting proposals for existing open source projects that we are maintainers of. GitHub itself isn't an open source project. You can find a list of project ideas in the README in this repo and you can also check out some of our other open source projects here: https://github.com/github

[2015-03-02 21:23] #2 closed

[2015-03-02 21:24] johndbritton commented on #3
We have some project ideas for Atom in the README, but are open to other proposals as well. It'd need to be a well formed proposal that is appropriately scoped for the summer.

[2015-03-02 21:24] #3 closed

[2015-03-02 21:28] maniotrix opened #4 "GSOC 15: IDE and editor integrations to develop Atom Shell apps"
Can I develop it as an eclipse plugin?

[2015-03-02 21:32] zcbenz commented on #4
@maniotrix It looks good to me.

[2015-03-02 21:57] #4 closed

[2015-03-03 06:44] suyash opened #8 "support for 'blue-sky proposals'"
Most gsoc orgs allow students [to](https://github.com/jquery/gsoc/wiki/GSoC-2015-Ideas-List#blue-sky-proposals) [come](https://wiki.phpmyadmin.net/pma/GSoC_2015_Ideas_List#Your_idea) [up](https://gcc.gnu.org/wiki/SummerOfCode#Other_projects) with their own project ideas, that should be innovative but should also be restricted to specific domains. Who should prospective applicants get in touch with

[2015-03-03 10:38] Tehmas opened #9 "Information about "Improve Atom's parser performance""
The project idea sounds interesting. I looked at the relevant issues which were updated today in the README file but can I get some more additional details about it? The "summary" seems to be too less about the nature of the project.

[2015-03-03 12:36] youtux opened #10 "Information about Homebrew's task "Handle formula renames and deletions""
@mikemcquaid I am very interested in the Homebrew's tasks, but I have a question about "Handle formula renames and deletions": is it necessary to use Git to handle the renaming or is feasible to use some kind of migration file that keeps track of formulae renaming?

[2015-03-03 12:39] MikeMcQuaid commented on #10
@youtux I'm open to either approach. The migration files have worked well for tap migrations so might be a good fit for here too.

[2015-03-03 12:45] youtux commented on #10
Thank you!

[2015-03-03 12:45] #10 closed

[2015-03-03 12:55] youtux opened #11 "Idea for Homebrew: livecheck mechanism"
I would like to discuss a proposal for Homebrew: a mechanism to check whether a formula is outdated with respect to the upstream version.
I have already started a conversation at Homebrew/homebrew#33433, and I think the GSoC could be an occasion to re-propose this feature. I have already created an external command ([homebrew-livecheck](https://github.com/youtux/homebrew-livecheck)) that tries to

[2015-03-03 13:47] youtux commented on #11
@mikemcquaid Maybe I should have mentioned you.

[2015-03-03 14:13] lincleejun opened #12 "about 'Improve printing support of Atom Shell'"
first I'm not one of GSOC member, but I'm interesting about this.

so how could I start this? or couldn't
what  have you done?
what need be done?

@zcbenz thanks...

[2015-03-03 14:24] MikeMcQuaid commented on #11
@youtux Watching this repo now, forgot to do so earlier. I wouldn't stop you proposing that but I would probably favour one of the existing proposals. That said, if you could create a livecheck which would require minimal maintenance (e.g. comfortably run on a free Heroku worker), could maybe autosubmit PRs that might be of interest. My concern would be it might not be quite a big enough project f

[2015-03-03 15:14] johndbritton commented on #9
@Tehmas did you read the two linked issues: https://github.com/atom/atom/issues/979 and https://github.com/atom/atom/issues/1667? They document cases where performance is a problem.

[2015-03-03 15:17] johndbritton commented on #8
You're in the right place for that, just open an issue here and discuss away.

All of the projects in the readme are definitely within scope, as we have mentors lined up for those projects. You can come up with your own idea and propose it for one of those in addition to proposing something from the ideas list.

If there's another GitHub maintained open source project that you'd like to propose a

[2015-03-03 15:17] #8 closed

[2015-03-03 15:19] johndbritton commented on #12
There's an issue: https://github.com/atom/atom/issues/3525 and also a discussion in the Atom forum: https://discuss.atom.io/t/printing-support/760 with some background.

[2015-03-03 15:19] #12 closed

[2015-03-03 15:53] tehmas commented on #9
@johndbritton Thanks for replying. Yep I read them like I said in my first post. What I am not clear about is that are we required to find out the issues our selves and work on them or we will have to work on already found performance issues which haven't been fixed yet?

[2015-03-03 17:43] youtux commented on #11
Thank you for your feedback! Yes, it would be not too much difficult to actually take the whole summer.

[2015-03-03 17:43] #11 closed

[2015-03-03 17:44] shanzi opened #13 "About the hypermedia idea of Hub"
After skimmed over the source code of go-octokit and some related material, I found the key problem makes the client not eligible may stands in Golang's characteristic of static typing.

Lack of meta programing seems not only lead to code redundancy, but also prevents the implementation of a general library that can be used for other APIs.

But as soon as I see the word _hypermedia_, I thought of

[2015-03-03 18:44] johndbritton commented on #13
@mislav is probably the best person to answer this question.

[2015-03-03 18:45] johndbritton commented on #9
A successful proposal would likely include a few target issues and ways to improve their performance. @kevinsawicki might be able to say more.

[2015-03-03 18:48] kevinsawicki commented on #9
The two most important issues to address are performance on files with long lines of text and also large files (over 2MB) in size.

So those are the two really well known issues but there may be other to address which are also really important.

[2015-03-04 00:58] xfq opened #15 "About "IDE and editor integrations to develop Atom Shell apps""
I have contacted @zcbenz privately and he suggested me creating an issue here for future questions about this project. I'll ask my questions as comments below. For questions that aren't very related to GSoC, I'll create issues in relevant repos (or topics in discuss.atom.io).

FYI - here's the full quote of his mail:

[code]

[2015-03-04 01:06] xfq commented on #15
@zcbenz You said "adding ability to create distributions or installers", what does "distributions" mean here? Do you mean tarballs/binaries of the Atom Shell app created by the editor plugin?

[2015-03-04 02:13] hTrap opened #16 "About Weighted scoring for detection strategies"
@arfon @bkeepers I wanted to research and work on this projects, could you guys give me some pointers or guide me as in where to get started

[2015-03-04 02:54] bkeepers commented on #8
To add to @johndbritton's reply, feel free to open an issue in this repo to discuss specific project ideas. We should be able to help you figure out if it's even feasible to find a mentor for a specific project before you go through the trouble of submitting your proposal.

[2015-03-04 02:59] bkeepers commented on #13
@technoweenie, @rubyist, or @pengwynn may have some advice too.

[2015-03-04 03:00] #9 closed

[2015-03-04 03:33] bkeepers commented on #16
I added some more information in https://github.com/github/linguist/issues/2195. Feel free to ask any questions here.

[2015-03-04 03:33] #16 closed

[2015-03-04 03:39] ghost commented on #8
Got it ! Thanks

[2015-03-04 03:46] tarebyte opened #17 "Resources for tokenizing strategies and languages learning"
Hello All,

I'm really interested working on the [tokenization of grammar bundles](https://github.com/github/gsoc#use-grammar-bundles-to-tokenize-languages) for linguist.

Does anyone have any good resources for learning more about language learning and tokenizing strategies? I would like to be able to try and make a more concrete plan in my proposal.

Thanks!

[2015-03-04 09:12] rootAvish opened #18 "More info/specifics on tokenization with grammar bundles in Linguist"
Hi,

Skimming through the [ tokenizer source](https://github.com/github/linguist/blob/master/lib/linguist/tokenizer.rb) and the summary, I gather you guys would like to introduce a sense of grammar in the lexical phase to create some sense of what the language the input file is in *before* you pass it's tokens through the bayesian classifier? Or additionally also determine whether a particular tok

[2015-03-04 13:12] ronak9896 opened #19 "gsoc project idea"
Hey ,
I just had an idea for a gsoc project and I'd like to share. The command line interface of git may seem daunting to new contributors which results in not contributing to the code world at all. What I'd like to suggest is a project (a simple one) in which we just have to create a gui for git.

Thank you,

p.s: I'd like to implement this using Tkinter python :D Or swings java

[2015-03-04 15:58] johndbritton commented on #17
@bkeepers and @arfon might have some ideas.

[2015-03-04 15:59] johndbritton commented on #17
Also I think @aroben knows a thing or two about tokenization strategies. Any suggestions for further reading?

[2015-03-04 16:01] johndbritton commented on #19
Hi @ronak9896. GSoC proposals must be for contributing to existing open source projects that we maintain. We don't maintain an open source Git GUI and we're not able to accept proposals to start new projects.

[2015-03-04 16:01] #19 closed

[2015-03-04 18:12] arfon commented on #18
Thanks for the questions @rootAvish!

I think this is where the most potential is. Given that we have a whole bunch of [samples](https://github.com/github/linguist/tree/master/samples) that have been categorised (by humans) then we could use the grammars defined [here](https://github.com/github/linguist/blob/master/grammars.yml) and linked to languages [here](https://github.com/github/linguist/blo

[2015-03-04 18:38] tarebyte opened #20 "Supporting Homebrew without XCode tools"
Getting rid of the XCode Command Line tools dependency would be really useful for the [Boxen Project](https://boxen.github.com).

Are there any other resources for learning about the command line tools other than [this one](https://developer.apple.com/library/ios/technotes/tn2339/_index.html#//apple_ref/doc/uid/DTS40014588-CH1-WHAT_IS_THE_COMMAND_LINE_TOOLS_PACKAGE_).

/cc @mikemcquaid

[2015-03-04 18:53] tarebyte opened #21 "Adding features and possible creating a GUI for teachers_pet"
I've been using teachers_pet this semester for grading, and have had my co graders using it as well.

There are some features I would like to add, but I've gotten feedback that there are people would like the option of using a GUI or the CLI.

I'd like to get some thoughts on this.

/cc @johndbritton

[2015-03-04 19:31] johndbritton commented on #21
I'd be open to a proposal for a GUI, preferably web based.

[2015-03-04 19:40] tarebyte commented on #21
@johndbritton do you think it would be more preferable that the web base GUI runs locally, or should this be deployed as it's own application and the code be open sourced like [24 Pull Requests](https://github.com/24pullrequests/24pullrequests)?

[2015-03-04 19:56] MikeMcQuaid commented on #21
Something that could run on Heroku would be great.

[2015-03-04 20:04] MikeMcQuaid commented on #20
@tarebyte Not hugely although if you have questions or suggestions for additions I can make them. Do you have anyone in mind? In short: the main issue is `install_name_tool` being needed for bottle relocations and we'll need to either remove that requirement or ship a binary package of it (obviously not itself as a bottle).

[2015-03-04 20:11] tarebyte commented on #21
Would we want to expand upon the teachers_pets gem or start a new project?

[2015-03-04 20:11] tarebyte commented on #21
I wasn't sure if proposing new projects was ok.

[2015-03-04 20:13] johndbritton commented on #21
I agree with @mikemcquaid, open source hosted web application.

GSoC is only for existing projects. I think you could make a case that you're expanding upon `teachers_pet` especially if you use it as a library of sorts.

[2015-03-04 20:14] tarebyte commented on #20
Not right now, I'm just trying to understand the scope of the project. I'm also trying to understand all of the tooling involved.

[2015-03-05 00:48] xfq commented on #15
@zcbenz I think building a command line tool and wrap it with an Atom package is a good way, because it is more generic and can avoid needless duplication of code in other editor/IDE plugins. WDYT?

If we're going to build a command line tool, what language should be used to implement the tool? JavaScript (Node.js)? Perl? Python? I'm OK with any of them, although personally I'm more familiar with

[2015-03-05 02:38] zcbenz commented on #15
I agree on this, and it would help a lot of people.

Both Atom and its core modules are written in CoffeeScript and we should use the same language for the command line tool. You may start from learning how [apm](https://github.com/atom/apm) works, which is the command line tool for managing and creating Atom packages.

[2015-03-05 05:58] rootAvish commented on #18
Thanks for the pointers! Makes a ton of sense and gives me an idea of what to base my project on. I'm trying to hack around Lingust to get some sense of the project in its current state, and most probably will have more queries moving forward. Glad to know you're there to help.

[2015-03-05 08:40] suyash opened #22 "idea: workshopper for atom-shell"
Based on the discussion in #15 on command line based tools for atom-shell, I would like to propose a project idea to build a workshopper for getting started with atom-shell development.

A [workshopper](https://github.com/rvagg/workshopper) is an interactive tutorial inside the command line based on a specific topic, that contains a tutorial followed by a problem on the topic that the player tries

[2015-03-05 10:39] aviraldg opened #23 "Is there an official mailing list or IRC channel for GSOC students?"
(other than #github, of course)

I'm quite interested, but I'd love to speak to some of the mentors in more detail about multiple ideas.

[2015-03-05 11:07] MikeMcQuaid commented on #23
There is not. The best way to talk to us is through issues on this repo :smile:

[2015-03-05 12:24] shanzi opened #24 "Is there any special requirements for writing proposal?"
Hi dear mentors,

I'd like to know is there any special requirements for the proposal document submitted.
For example:

1. The format of the document (plain text, docx or pdf)?
2. What information should be included about the candidates?
3. Instructions for naming the document that will be submitted?

[2015-03-05 12:30] shanzi commented on #13
Hi! There seems isn't any advice yet?

I have had more consideration and formed a more mature idea now. I'm wondering if I should still discuss it here or contact the mentor @mislav in privately?

[2015-03-05 16:44] #23 closed

[2015-03-05 18:22] bkeepers commented on #13
Hi @shanzi, sorry for the delay in responding. I think @mislav is traveling this week.

It sounds like @pengwynn is already working with students on this problem. I've proposed that we remove it from the suggested projects list in https://github.com/github/gsoc/pull/25.

[2015-03-05 21:57] zcbenz commented on #22
Hi @suyash, this sounds a quite good idea to me! Can you create a pull request for your idea?

[2015-03-05 22:59] jlord commented on #22
:sparkles: workshoppers :sparkles:

[2015-03-05 23:06] dbenson24 opened #26 "Tools to begin searching for issues with Atom's parsing performance"
@kevinsawicki since this seems to be your area
Do you have any recommendations for debuggers to start stepping through the code to figure out where the issues might be?

[2015-03-05 23:11] kevinsawicki commented on #26
The tokenizer library we currently use is [first-mate](https://github.com/atom/first-mate)

You can run the current benchmarks by:

[code]

Here is where Atom starts chunking up lines to tokenized: https://github.com/atom/atom/blob/48d4ea0907e8aba68a8734484ceabdf3f0d02530/src/tokenized-buffer.coffee#L139-L144

The dev tools inside Atom is usually a great place to start profiling, looking at timeli

[2015-03-06 04:03] shanzi commented on #13
Wow, what a pity. I have really considered a lot about it.

Thanks for notification about it.

[2015-03-06 04:03] #13 closed

[2015-03-06 04:31] bkeepers commented on #26
@dbenson24 I'm going to close this, but feel free to post any follow up questions here.

[2015-03-06 04:31] #26 closed

[2015-03-06 04:33] shanzi commented on #13
@pengwynn @bkeepers

Though the idea has been removed, I'd still like to provide my latest idea for this idea in case it will be helpful.

After more consideration, I think hyper json schema may need too much work for `octokit-go`, but code generation is still a good solution. In fact, I think it is the only right way as Go 1.4 has just provided a new cli command: `go generate`.

I have read some

[2015-03-06 04:45] vik-y opened #27 "idea: Adding IDE Deployment plugins like FTP, SFTP which can make deployment of apps easier."
I like this feature which is offered by JetBrains PHP IDE. It helps to easily deploy your website and also keep your code base in sync - but so does git along with a version control system but this feature can be very useful, your views/suggestions?

Also there's a large scope for command line integration for directly compiling and running the code. In the summer I'd like to work on these ideas.

[2015-03-06 05:44] johndbritton commented on #24
Hi @shanzi,

We don't have a specific format, but you might want to check out this blog post for some tips: http://teom.org/blog/kde/how-to-write-a-kick-ass-proposal-for-google-summer-of-code/

[2015-03-06 05:44] #24 closed

[2015-03-06 06:38] ninjatrench opened #28 "how do I add a Personal Project as Proposal ?"
Hello, I have an good project idea, which may help many developers as well as other organizations, so how do I add that as a project proposal under github ?

Thanks

[2015-03-06 07:36] divyanshu013 opened #30 "GSoC 2015: Applying with Atom"
Hi, I'm interested in participating with Atom for GSoC 2015. I'm an active open source contributor and quite well versed in CoffeeScript, JavaScript, Python,  C, C++. I'm interested in the following ideas for Atom:
1. Improve Atom's parser performance
2. Implement support for non-US keyboard layouts in Atom
3. Improve text rendering in Atom

I've already set up my dev environment. @kevinsawicki co

[2015-03-06 08:22] MikeMcQuaid commented on #28
@ninjatrench It's probably worth detailing your project here and discussing it before submitting a proposal so we can give you advice. Thanks!

[2015-03-06 08:29] xfq commented on #15
OK. Although I haven't written any real-world application in CoffeeScript yet, I know its syntax. I'll look into apm later. Thanks for the hint.

[2015-03-06 10:41] prabhanshu1 opened #31 "Project on Hub under Gsoc'15"
Hi,
I am quite interested in the project "Create support for defining extensible shell completions" .And i want to do the project under Gsoc'15.

I am quite familiar with bash,and have used fish and zsh for more than 2-3 months, i had previously done some research about bash completion when i was trying to think of implementing fish like autosuggestion in bash.
please give me some direction to pro

[2015-03-06 11:59] ninjatrench commented on #28
@mikemcquaid
Title : pipHorizon

I am planning to make rest API which can be used to deploy python based projects over the server, for example just like there is tomcat-admin tool to deploy war files similarly there can be one for python based projects.

for example an developer will first login, then click to create new project, select directory where to deploy, can choose if he/she wants virtual

[2015-03-06 12:07] MikeMcQuaid commented on #28
@ninjatrench We're actually only accepting submissions for projects on GitHub's open source projects (and Homebrew) as mentioned in the README of this repository. Sounds like a neat idea but I think you'll struggle to do it as part of Summer of Code. Sorry!

[2015-03-06 12:07] #28 closed

[2015-03-06 12:08] MikeMcQuaid commented on #20
Ok. Let me know if you have any README changes I should make otherwise: closing this out for now, thanks!

[2015-03-06 12:08] #20 closed

[2015-03-06 12:23] arapat opened #32 "How do you use Linguist in practice"
Hi, I have roughly viewed the code base of linguist project. Before starting to play with the code, I would like to ask several questions.

1. How is the performance of Linguist in production? If someone starts work on this project, will he/she has access to the records of GitHub users reporting misdetection on their source files?
2. How are the sample data selected? This is quite critical to the

[2015-03-06 18:09] pengwynn commented on #13
Thanks for the input @shanzi. I think JSON schema holds a lot of promise and I love what Heroku has done with it for their APIs. The Platform team hopes to provide those for our APIs one day.

I'm hopeful we can create a truly hypermedia-driven API client in Go without them though. Feel free to continue the discussion in that repository if you'd like to join in even though we're not going to do it

[2015-03-06 18:23] PavelDemyanenko opened #33 "Implement support for non-US keyboard layouts in Atom"
Hi guys,

I find this issue interesting for me cause I'm not in latin group too and it skills required are quite close to me.

Cheers,
Pavel

[2015-03-06 20:04] mikehelmick commented on #21
My intention when I started the project was to make it cloud hosted and open source.

There are some pretty important security implications when going with hosting that need to be fully thought out.

[2015-03-06 23:03] tarebyte commented on #21
@mikehelmick can you give a few examples?

[2015-03-07 00:34] johndbritton commented on #33
@PavelDemyanenko You should do some more investigation into the project and ask any questions you have about it. If you're interested you'll need to apply through the GSoC website once student applications open. Now is a great time to start doing some research.

[2015-03-07 00:35] johndbritton commented on #32
@github/linguist should be able to answer some of these questions.

[2015-03-07 00:36] johndbritton commented on #31
@mislav is the mentor for Hub and might be able to provide some more details.

[2015-03-07 00:38] johndbritton commented on #27
Hi @vik-y, I'm guessing you're interested in working on Atom. The idea you've suggested sounds interesting, but it's not very well defined.

In order to make a successful proposal, you'll need to clearly state the scope of what you'd like to accomplish in the project and make a plan for implementing it.

[2015-03-07 02:20] hasit opened #34 "Completion Scripts for Hub"
Hello. I am Hasit Mistry and I am doing my MS in Computer Science and Software Engineering from University of Washington Bothell.

I have been using fish for over a year now and I was a zsh user before that. I have been tinkering with the autocompletion of hub for some days and I have noticed the following:
1. fish autocomplete script file is missing. Is that something that I can start working on?

[2015-03-07 03:23] excaliburHisSheath opened #35 "Atom Project Questions"
Hi,

I'm interested in the GSoC projects with Atom, especially the one relating to improving the performance of the parser. I was wondering if @kevinsawicki had any advice about where to start. I'm experienced with C++ and I've worked with javascript in a couple of projects, but I haven't done any work with the atom source. I'm getting the build environment set up, and I've been looking at atom/at

[2015-03-07 04:13] vik-y commented on #27
Hi @johndbritton ,
Yes, I was talking with respect to atom itself. This feature is something which I often use in Jetbrains IDE and would like to implement the same in atom also. I will get back to you with how exactly I am planning to do it.
Thanks :)

[2015-03-07 08:01] ninjatrench commented on #28
@mikemcquaid
Do I hold the right of applying the above proposal to any other organization under Gsoc 15 ?

[2015-03-07 08:51] mislav commented on #13
On Fri, Mar 6, 2015 at 7:22 AM, Brandon Keepers notifications@github.com
wrote:

[2015-03-07 09:53] PavelDemyanenko commented on #33
@johndbritton thanks for clarification, I'll try!

[2015-03-07 10:44] shanzi commented on #13
@pengwynn Thanks for you explanation :)

Might I provide a more clear description about my latest thought here? I seems not explained it clear enough.

After more consideration I has already been convinced that a JSON schema needs too much work and it may not the best choice. But `go generate` seems still a good candidate. We need not to generate code from JSON schema, but instead from go code the

[2015-03-07 12:07] MikeMcQuaid commented on #28
@ninjatrench I'm not sure but I don't think so. Google Summer of Code is for working on existing open-source projects rather than creating new ones.

[2015-03-07 19:03] prasoon2211 opened #36 "Improving Atom's parser performance: Changing the regex engine."
@kevinsawicki

Hi. I went through the [issue 979](https://github.com/atom/atom/issues/979) and left a [comment](https://github.com/atom/atom/issues/979#issuecomment-77703711). Please read it (and the various links mentioned within) - there, I've made a case for changing the regex engine. Let me what you think of the idea.

Thanks!

[2015-03-07 19:11] randomPoison commented on #36
From what I can tell Oniguruma's big feature is that it can handle a wide variety of different encodings, which means atom can parse just about any kind of file with out special handling. RE2 [only handles UTF-8 and Latin-1](http://swtch.com/~rsc/regexp/regexp3.html), so that would require some work on atom's part to handle other encodings.

I'm guessing that would still be worthwhile, though, sin

[2015-03-08 02:29] bkeepers commented on #32
Hi @arapat

Check out https://github.com/github/linguist/issues/2195 for more information.

It's ok. One of the biggest issues right now is the memory usage of the classifier.

When people report issues with classification, we typically ask them if the can point us to a public project that shows the issue.

Right now, we have [some samples](https://github.com/github/linguist/tree/master/samples) t

[2015-03-08 05:24] arapat commented on #32
@bkeepers Awesome! Thanks for explaining!

[2015-03-08 05:24] #32 closed

[2015-03-08 20:15] randomPoison commented on #36
Since @zcbenz pointed out that Oniguruma is used only for its regex syntax, it would probably be a good idea to build a comparison of the regex syntax used in TexMate and what's supported by RE2. If it wouldn't take too much to handle the differences then the speed improvements would likely be worth it.

[2015-03-08 22:35] nkt opened #37 "GSOC idea: atom autocompletion."
I suggest to add in atom autocompletion for JS based on static analysis. Now atom-completion collect parsed identifiers:
<img src="https://cloud.githubusercontent.com/assets/3505878/6548005/8b378704-c5fb-11e4-91b2-ec8e2248817b.png" width="300">
But there are already exists tools (like babel) with great api for retrieving js ast.
So we just need to write tool that gives more brains to completion me

[2015-03-08 23:13] bkeepers commented on #37
/cc @github/atom

[2015-03-09 01:48] Aymenworks opened #38 "iOS project"
Hi guys !
I was wondering if you had any projects including iOS development on your mind ?

[2015-03-09 01:49] benogle commented on #37
This is interesting. Have you tried https://github.com/tststs/atom-ternjs?

[2015-03-09 02:02] randomPoison commented on #35
I've got some ideas for a more concrete proposal, so I'm going to open a different one to get more specific feedback.

[2015-03-09 02:02] #35 closed

[2015-03-09 02:52] bkeepers commented on #35
@excaliburHisSheath looking forward to seeing your proposal. Feel free to create an issue here to discuss it or ask for feedback!

[2015-03-09 02:53] bkeepers commented on #38
Hi @Aymenworks, thanks for getting in touch! We don't currently have any open source iOS apps, and GSoC is only for existing open source projects.

[2015-03-09 02:53] #38 closed

[2015-03-09 03:15] excaliburHisSheath opened #39 "Atom Project Proposal: Implement Segmented Lines"
I've been going over the discussion in atom/atom#979 and looking at what's causing the performance problems when it comes to long lines. On the surface the problem is that Atom treats lines a single strings, which means that a long line can be subjected to multiple O(n^2) regex searches in the process of parsing it, which takes huge amounts of time and results in hangs. @maxbrunsfeld has suggested

[2015-03-09 09:55] ljfio commented on #36
Having a brief look at the language-perl grammar's [regex](https://github.com/atom/language-perl/blob/master/grammars/perl.cson#L151) you can see that RE2 doesn't [support](https://github.com/google/re2/wiki/Syntax) "before text matching" and also "after text matching".

[2015-03-09 13:33] aroben commented on #17
Hi @tarebyte, sorry for taking so long to reply.

I don't really know anything about language learning, and in fact I actually know very little about Linguist's current tokenization/classification code. But I do know about the "grammar bundles" that are mentioned in the GSOC project description, so I can tell you a little more about them.

Each bundle (which is really just a repository that we inc

[2015-03-09 15:31] kevinsawicki commented on #30
1 would have the largest impact since it would improve the performance for every single person using Atom. But 2 and 3 are also incredibly important for making Atom universally approachable for people using any keyboard language and any character set.

[2015-03-09 16:00] divyanshu013 commented on #30
@kevinsawicki thanks for an earnest reply. I'm interested in working on 'Improving Atom's parser performance'. I've gone through atom/atom#979 and atom/atom#1667 and already set up my dev environment. Could you please help me getting started with some 'good-for-newbies' issues or does the selection depends on solving the mentioned issues? Thanks!

[2015-03-09 16:28] divyanshu013 commented on #30
Thanks @kevinsawicki! I've already set up my dev environment and doing some research on this. Could you please suggest what should be my next step?

[2015-03-09 17:13] bkeepers commented on #17
Sorry I missed this last week.

By the time the [classifier gets called](https://github.com/github/linguist/blob/master/lib/linguist/classifier.rb#L18-L23), there is already a list of candidate languages (based on filename/extension). So the idea is that we would use the syntax bundles to tokenize the blob for each candidate language.

[2015-03-09 17:45] kevinsawicki commented on #30
For which project?

[2015-03-09 18:32] divyanshu013 commented on #30
I'm currently doing some research on 'Improve Text Rendering in Atom.'

[2015-03-09 20:45] kevinsawicki commented on #30
Creating some failing tests would be a good place to start for investigating issues like https://github.com/atom/atom/issues/1783 and https://github.com/atom/atom/issues/4595

[2015-03-09 21:04] divyanshu013 commented on #30
Great! I'll do so. Thanks!

[2015-03-10 05:11] EasyHard opened #40 "use TypeScript .d.ts type definitions to as javascript library interface document (and provides completion)"
Problem:
A big pain point of developing with a dynamic language is that you need to look into libraries' document to figure out their interfaces and how these interfaces should be used. Even you are familiar with the semantic of those interfaces, you may still need to look into the document to make sure you put arguments in the right order. This is really frustrating. Static analyzing does not alw

[2015-03-10 07:47] jats22 opened #41 "Gsoc15-Implementing Support for non-US keyboards"
Hi @kevinsawicki , I would like to show my interest in participating in GSOC-15 as a student. I am particularly interested in the suggested idea of Implementing support for non-US keyboard layouts in Atom. I have set up a local build of Atom and I am preparing my proposal for it. Could you guide me on what my next step could be?
 #35 #37

[2015-03-10 09:29] CNA-Bld opened #42 "Homebrew: Allow prioritisation of taps"
Hi. I am Huang Yue from the School of Computing, National University of Singapore. I am now doing my bachelor degree in Computer Science and I am 'somewhere between second and third year' since I am trying to graduate in 3 and a half year.

I am particularly interested in the proposal of about prioritization of taps.

I have used Homebrew for a while and I have read a portion of its code. As far a

[2015-03-10 09:36] MikeMcQuaid commented on #42
Yep, I think you are. Homebrew currently tries to use filesystem layout and environment variables rather than configuration files so ideally we'd use those approaches where possible. I'd think that this should take the form of arguments to the `brew tap` command rather than requiring users to manually edit any files.

Something that would be a good start before making a proposal is also submitting

[2015-03-10 09:40] genuinelucifer opened #43 "What is requirements for getting selected in GSoC for working under gitHub?"
I have approximately 7 years of experience in using C++ language and many of the libraries made for it. I have also developed softwares & games using Win32 API, Qt 4, SDL, OpenGL. But, I have NOT done any professional course in software engineering. Currently, i am persuing B.Tech in Electrical Engineering.
For GSoC, I am interested in the project -
Improve printing support of Atom Shell.
.
I want

[2015-03-10 10:28] CNA-Bld commented on #42
Oh I understand. I think I am going to fix some `audit` warnings to get more familiar with the internal design of Homebrew now. Thank you!

[2015-03-10 17:07] pawandeep2155 opened #44 "Proper understanding of Linguist ideas"
As I was reading the idea list of Linguist I was not sure whether I am interpreting the exact meaning of both the ideas. This is what I interpreted of both the ideas.
--- Use grammar bundles to tokenize languages ---

In this we want to first detect the language and then highlight the syntax of the corresponding code .

--- Weighted scoring for detection strategies ----

In this we want to improve

[2015-03-10 17:53] sarvesh-onlyme opened #45 "GSoC idea: Implement scripts to generate source tarball of Atom and its sibling projects."
Hello, I was looking around for a project in Github and find the project "Implement scripts to generate source tarball of Atom and its sibling projects" very interesting. Also most of the Skills require matches to my skill sets. I've also participate in last year's GSoC.
I just want to clarify one thing. By now what we have a .deb for Atom which is compiled binary source. Now what we require is th

[2015-03-10 23:04] kevinsawicki commented on #41
- Investigate how other native applications typically handle keybindings for different keyboard layouts to gain insight into any established patterns
- Investigate how to best handle detecting the [AltGr key](http://en.wikipedia.org/wiki/AltGr_key) and how to best support differentiating between its use in entering text and its use in a configured keybinding

[2015-03-10 23:28] vladshablinsky opened #46 "Homebrew: Handle formula renames and deletions"
Hi, I'm Vlad Shablinsky. I'm studying computer science in Belarusian State University. I really like Homebrew, it’s the project that I truly want to work on.

I have some skills in python, git and unix, but I’m not very experienced in ruby. I know it a bit, but I can’t say I know it very well.

I submitted a pull request with some fixings that `brew audit` shows and now I want to go further. I'm i

[2015-03-11 09:09] MikeMcQuaid commented on #46
Hi @vladshablinsky! It's ok to learn Ruby as you go. I commented on your PR and updating it to use `brew audit --strict` would be a good next step.

The renaming project is actually about if e.g. we wanted to rename the `wget.rb` project to `wget-new.rb` and it would need to handle e.g. migrating `Cellar/wget` to `Cellar/wget-new` and similar things on upgrade automatically rather than running a s

[2015-03-11 11:47] ythej opened #47 "JS Project for GSoC"
Hi @kevinsawicki ,

I am Vishnu Teja doing my B.Tech from a deemed University National Institute of Technology, Surat, India. I am would like to do a project in Github through GSoC 2015. My skills are JS, HTML, CSS, Unit testing and Integration tests. I have been contributing Mozilla's product Firefox OS {JS, HTML,CSS} for a long time. I would like to do projects based on JS which are mentioned in

[2015-03-11 11:52] pawandeep2155 opened #48 "Gsoc15 - Fixing a misclassified language in Linguist"

[2015-03-11 13:11] vladshablinsky commented on #46
So you rename the project

[2015-03-11 13:23] vladshablinsky commented on #46
@mikemcquaid So the name of a formula is changed not locally firstly and then I can upgrade it. For example before upgrade I have `wget.rb` and if I run `brew upgrade wget` it handles all the renames and after that I don't have `wget.rb` anymore. Instead of that I have `wget-new.rb` and all the files migrate automatically to new directories.

[2015-03-11 13:27] MikeMcQuaid commented on #46
Yup, something like that. The new `wget-new.rb` will need metadata to tell it it used to be called `wget.rb` and how to do the upgrade/migration.

[2015-03-11 13:30] vladshablinsky commented on #46
@mikemcquaid I got it! Could you tell me what should I start with to get into this project?

[2015-03-11 13:38] MikeMcQuaid commented on #46
@vladshablinsky I'd just work on a proposal document at the moment and consider submitting more Homebrew PRs.

[2015-03-12 00:02] vladshablinsky commented on #46
@mikemcquaid Thanks! Homebrew doesn't have proposal templates, does it? Are there any special "absolutely-must" things you're looking for or "no-no" things I should be aware of?

[2015-03-12 02:34] nkt commented on #37
@benogle yep, I've tried. This project works based on plugins. For example there are angular, node, require.js, jquery plugins. But I'm suggest to analyse code and create autocompletion based on it.
Actually previously I were using WebStorm by JetBrains. But there is a huge problem - ide index all code and suggest completion looks like every code in global namespace. As you know, today every js fi

[2015-03-12 06:46] liudangyi opened #49 "Homebrew: Application packages should include all their dependencies"
Hello. I'm a college student from China and very interested in contributing for homebrew in GSoC.

However, I haven't got the meaning why we need to package all the dependencies in one directory? An important reason why we use a package manager rather than manually compile software is that it can deal with dependency automatically. It won't trouble users if `mysql` and its dependency `openssl` are

[2015-03-12 09:02] MikeMcQuaid commented on #46
We don't have templates. "Absolutely must" would be fixing the basic case where currently we can't rename formulae. "No-no" would be I guess doing some sort of drastic refactoring of all Homebrew's code rather than doing it bit-by-bit. Feel free to ask any more questions you may have when doing the proposal, though!

[2015-03-12 09:09] MikeMcQuaid commented on #49
Hi @liudangyi! The best start if you'd like to contribute to Homebrew for GSoC would be to start making a few simple PRs to e.g. submit version updates, fix `brew audit`, `brew audit --strict` warnings and adding `test do` blocks to formulae missing them.

The reason for trying to package all dependencies in a single directory is so if users e.g. upgrade `openssl` and remove the old version it won

[2015-03-12 10:02] liudangyi commented on #49
However, most software won't be broken if you upgrade their dynamic library dependencies because they use a naming convention to choose which version of API they use. For example, `openssl` 1.0.2 still uses `libssl.1.0.0.dylib` as its shared library filename. According to Linux convention, a library should link its `libfoo.1.0.1.so` as `libfoo.1.0.so` and `libfoo.1.so`. Thus software depending on

[2015-03-12 10:12] MikeMcQuaid commented on #49
Sure, it requires manually additions of `revision` tags for us though which is a pain.

[2015-03-12 10:39] liudangyi commented on #49
Sorry, I don't follow. Why do we need to add a revision tag after a dependency is upgraded?

[2015-03-12 10:58] MikeMcQuaid commented on #49
If they upgrade from e.g. `libssl.1.0.0.dylib` to `libssl.2.0.0.dylib` (or even sometimes minor or patch versions) sometimes they are not ABI compatible so the `revision` tag must be added to dependents so that they can be recompiled against the new version.

[2015-03-12 11:11] liudangyi commented on #49
I see. But in that case, most dependents will need to be upgraded due to a different API.

[2015-03-12 11:14] MikeMcQuaid commented on #49
We end up having to bump due to ABI changes more than we need to bump dependents due to API changes.

[2015-03-12 15:40] catalincraciun opened #50 "GSoC 2015"
Hello, I am still in high school and turning 18 only on August this year. I would love to take part in Google Summer of Code this year, isn't that possible? Thanks in advance.

[2015-03-12 15:44] MikeMcQuaid commented on #50
As far as I can tell it's just for university students but you may find this interesting: https://developers.google.com/open-source/gci/

[2015-03-12 15:44] #50 closed

[2015-03-12 16:04] arfon commented on #44
Hi @pawandeep2155, please take a look at [this thread](https://github.com/github/linguist/issues/2195) as it should give some additional background.

[2015-03-12 16:31] liudangyi commented on #49
Sorry, I just mistook API for ABI... What I mean is exactly ABI, which uses a shared library mechanism.

Say, if ABI doesn't change during an upgrade, then nothing bad will happen and dependents will work as usual. But if ABI changes, in most case we need a new version of dependents rather than a `revision`. So why do we need an all-in-one package?

[2015-03-12 17:24] MikeMcQuaid commented on #49
We don't technically need one, I just think it would be a more elegant solution to the problem, long-term, that will be less error-prone and faster for users.

[2015-03-12 17:48] genuinelucifer opened #51 "[GSoC '15] Improve Printing Support of Atom Shell"
I have approximately 7 years of experience in using C++ language and many of the libraries made for it. I have also developed softwares & games using Win32 API, Qt 4, SDL, OpenGL all for my own learning purpose. Currently, i am a 2nd year B.Tech student at IIT Indore,India.
For GSoC, I am interested in the project -
Improve printing support of Atom Shell.
.
Any suggestions in this regard would be

[2015-03-12 22:32] kumarrishav opened #52 "Improve text rendering in Atom: GSOC -15 Project"
Hi @kevinsawicki
I want to work on this project under github umbrella. I am already done with building environment and currently i am contributing to atom packages and have already submitted patches .Also i got aware of key bindings and other important things require for working on packages and themes.
I need your guidance to work on this project, so that i can prepare a feasible and good proposal

[2015-03-12 23:08] bwin commented on #51
I would love to see printing support for windows. Happy to see it's included in the GitHub GSoC list.
Thanks for considering this, Abhinav.
cc @zcbenz

[2015-03-13 00:21] vladshablinsky commented on #46
Thanks a lot @mikemcquaid! Could I show you a draft to amend something when it's ready?

[2015-03-13 08:31] genuinelucifer commented on #51
I am new to Atom Shell. It would be great if you could help me get started on where to start looking (Which section of the atom shell code) for windows specific additions...

[2015-03-13 10:07] MikeMcQuaid commented on #46
@vladshablinsky Sure, happy to take a look at mike@mikemcquaid.com.

[2015-03-13 11:41] liudangyi opened #53 "Homebrew: Why `brew versions` was removed from official repo?"
I think it would be a great feature if homebrew supports `brew install ruby --version=2.2.0`.

I find that homebrew once supported `brew versions` to list all versions of a formula so that you can manually checkout and install a special version. And I'm wondering why it's removed now.

[2015-03-13 11:44] MikeMcQuaid commented on #53
`brew versions` was removed because it was buggy and hard to support. As it relied on Git revisions it was impossible to fix issues with older versions of formulae. The replacement is using `homebrew/versions` which, although more annoying to contribute to, provides a much better user experience all round.

[2015-03-13 11:44] #53 closed

[2015-03-13 12:28] pawandeep2155 opened #54 "Gsoc15:Fixing misclassified language in Linguist"
Hello everyone
I am reading Linguist code and I am getting little familiar with it. Can anyone please tell me now what should I do if I want to fix a misclassified Language. It would be great if you could please mention which are files should I read for that.
Thank You
Pawandeep Singh

[2015-03-13 13:41] sarveshgpt1991 commented on #45
@zcbenz , please can I get any comment on this so that I can prepare my proposal.

Thank you.

[2015-03-13 14:48] #48 closed

[2015-03-13 16:06] liudangyi opened #55 "Homebrew: Some potential improvements"
1. Formulae should be able to interpose the link period, i.e., decide which directory to link or not.
2. Besides `uninstall`, homebrew should introduce a `purge` method that removes all files, including some generated files under `etc` / `var` and downloaded files under `lib`.

[2015-03-13 16:31] bkeepers commented on #55
/cc @mikemcquaid

[2015-03-13 16:34] bkeepers commented on #45
Thanks for getting in touch! I think @kevinsawicki can help you out.

[2015-03-13 16:42] bkeepers commented on #54
Hi, thanks for getting in touch. The linguist [contributing guide](https://github.com/github/linguist/blob/master/CONTRIBUTING.md#fixing-a-misclassified-language) is probably a good place to start. Let me know if you have any questions after looking at that.

[2015-03-13 16:42] #54 closed

[2015-03-13 16:47] bkeepers commented on #44
@pawandeep2155 let us know if you have any other questions.

[2015-03-13 16:47] #44 closed

[2015-03-13 16:53] sarveshgpt1991 commented on #45
@kevinsawicki , please can you look through this issue.
Thank you.

[2015-03-13 16:56] bkeepers commented on #17
Hey @terebyte, let us know if you have any other questions.

[2015-03-13 16:56] #17 closed

[2015-03-13 17:02] bkeepers commented on #41
Hi @jats22, let us know if you have any other questions.

[2015-03-13 17:02] #41 closed

[2015-03-13 17:48] rootAvish commented on #18
From the discussion in linguist [#2208](https://github.com/github/linguist/issues/2208) it seems like a situation which can definitely benefit from a grammar based tokenization before the input is passed to the Bayesian classifier.

Once we have a parse tree, the problem of reserved keywords appearing as identifiers can be eliminated; since once we know that a particular statement is an identifier

[2015-03-13 17:52] MikeMcQuaid commented on #49
Closing this out as I assume I've answered your questions. Feel free to ask more if I haven't!

[2015-03-13 17:52] #49 closed

[2015-03-13 17:52] MikeMcQuaid commented on #46
Closing this out as I assume I've answered your questions. Feel free to ask more if I haven't!

[2015-03-13 17:52] #46 closed

[2015-03-13 17:52] MikeMcQuaid commented on #42
Closing this out as I assume I've answered your questions. Feel free to ask more if I haven't!

[2015-03-13 17:52] #42 closed

[2015-03-13 17:55] MikeMcQuaid commented on #55
We've discussed both of these in the past and don't want to do them.

For 1. it adds a lot of complexity which can be instead solved by just changing the formulae structure to e.g. install everything under `libexec` and make relevant symlinks.

For 2. we don't want to delete data like e.g. MySQL databases or configuration files on `uninstall` because people may (and probably will) want them after

[2015-03-13 17:55] #55 closed

[2015-03-13 17:56] ghost commented on #22
closing this for now since #29 was merged.

[2015-03-13 17:56] #22 closed

[2015-03-13 17:57] bugisup opened #56 "Improve printing support of Atom Shell"
Hi. I'd like to participate in improving Atom Shell. This idea is very interesting for me. What can I do to be selected on this task? Thanks.

[2015-03-13 18:11] liudangyi commented on #55
Thank you for your patience.

[2015-03-13 18:26] suyash opened #57 "proposal review channel"
Since the official application period opens on 16th, will GitHub open an official medium for students to get their proposal reviewed for completion before students submit their proposal to Google?

This is important as GitHub hasn't provided an official template for proposals, so ideally it would help if students had a medium to make sure that their proposal was complete, in the sense that all inf

[2015-03-13 18:40] zcbenz commented on #51
@genuinelucifer The printing related code comes from Chromium, so to get started with Atom Shell you should first get more familiar with Chromium's architecture: http://dev.chromium.org/Home.

[2015-03-13 18:40] #51 closed

[2015-03-13 18:55] zcbenz commented on #45
Hi @sarvesh-onlyme, sorry for the late reply.

Atom itself can be built on most Linux distributions without problem, but it downloads prebuilt binaries of libchromiumcontent and atom-shell instead of building them, which makes Atom not able to run on all Linux distributions. The solution is to also build libchromiumcontent and atom-shell when building Atom, and make use of PPA and OBS to build Ato

[2015-03-13 18:55] #45 closed

[2015-03-13 18:58] zcbenz commented on #56
The printing related code comes from Chromium, so to get started with Atom Shell you should first get more familiar with Chromium's architecture: http://dev.chromium.org/Home.

[2015-03-13 18:58] #56 closed

[2015-03-13 19:06] jatinsandilya commented on #41
Thanks for your reply @kevinsawicki and @bkeepers  . I looked into the issues 35 and 37 and although I understood the problem and the workarounds presented by the community like this one https://github.com/andischerer/atom-keyboard-localization .How effective is that?
A simple(or naive) solution could be to add an option of various keyboard layouts to be selected by the user and map it accordingly

[2015-03-13 19:19] jatinsandilya commented on #41
Also as #57 proposed can I have some tips on my proposal specifically in regard with the feature I'm proposing to implement?

[2015-03-13 19:25] shana commented on #57
We're working on getting an official proposal template up for the students to fill out, very soon now. Students won't be submitting proposals to Google, they'll be submitting proposals to us via the Google's website, and they can edit and refine the proposal after they submit it. The Google app allows private and public comments on the proposal, as well as voting and rating, and we control how tho

[2015-03-13 19:30] kevinsawicki commented on #52
Awesome, great to hear :+1:

Okay, what can I help you with?

[2015-03-13 19:34] bugisup commented on #56
I mean what I need to do from organization side, I'm familiar with Chromium, I have experience with that around ~2.5 years

[2015-03-13 19:34] ghost commented on #57
Thanks @shana, that cleared everything up, closing this in favour of #58

[2015-03-13 19:34] #57 closed

[2015-03-13 19:36] kevinsawicki commented on #41
To be honest, I've not used that package before so I'd be interested to hear your thoughts on how it addresses the problems

We already do some workarounds for specific problems with the dvorak layout, https://github.com/atom/atom-keymap/pull/51

So adding other workarounds might be the right solution if they behave intuitively for people using these keyboard layout.

It is not a Windows only issu

[2015-03-13 19:38] kumarrishav commented on #52
@kevinsawicki Thanks for your reply.
Before writing proposal, i want to get involve with this project (Improve text rendering in Atom) and get my hands dirty with codes so that i can get clear picture of  upcoming work. From where should i get involved in it. Also do i need to have knowledge of different languages (like chinese , Japanese, Korean etc) to work on it.

[2015-03-13 19:41] octref commented on #57
@shana
Sorry, this is my first time applying for GSOC so I'm not familar with this process.
I have a few questions for you.

Is it that all proposals will be visible to applicants, or just mentors?

I'm confused. Are you suggesting that we, student applicants, should sign up as mentors and help review proposals? Doesn't that conflict with your applicant status?

[2015-03-13 19:49] kevinsawicki commented on #52
Write test cases that fail for some of the problems mentioned in those linked issues is a great place to start.

Nope, we can just work together with people that know these languages to make sure the issues are fixed and to help test out any solutions.

[2015-03-13 19:54] #43 closed

[2015-03-13 19:56] kumarrishav commented on #52
@kevinsawicki  write test case that fail... <= you mean write specs (or unit test) or find the possible situations/cases (not in coding term) where those issue occurs

[2015-03-13 20:02] shana commented on #57
Hi @octref

Proposals are visible only to mentors of the organization.

This line was meant for mentors, not students :) You can't actually sign up to be both a mentor and a student iirc.

[2015-03-13 20:14] octref commented on #57
@shana
Thanks for clarification! BTW your nick is cool :wink:

[2015-03-13 21:26] kevinsawicki commented on #52
Either is fine, often we write specs that fail using the content in the issues such as the characters the person was typing when the issue occurred.

So either is fine, either just identifying and writing up which characters/character sets are failing, or actually writing specs that include those character/character sets and fail.

[2015-03-13 22:08] sarvesh-onlyme commented on #45
@zcbenz, are there any documentations for libchromiumcontent. And second thing I need to build atom-shell with the help of libchromiumcontent, where can I find instructions for this.
Thanks

[2015-03-13 23:24] kaichogami opened #59 "Proposal for, Implement scripts to generate source tarball of Atom and its sibling projects"
Hello
I have written down my first attempt and the initial idea of tackling the said project in the wiki. This might contain, say wrong interpretation of idea, misunderstandings about certain concepts. I would appreciate if feedbacks are provided on how I can improve my approach and check if I am wrong at any place.
Thank you!

[Link to wiki](https://github.com/github/gsoc/wiki/GSoC-2015-Asish-Pan

[2015-03-14 11:48] a-br opened #60 "New proposal: Coding "GitHub News""
# Github News

## The idea ##
##### Opportunity #####
Journalism projects and activities like open data, coding, visualizations, news apps are each day more important in journalism. As a result lots of media -for example, La Times, NYT, The Guardian , The Times- are opening their GitHub accounts to share the code and stuff they develop.
##### Proposal #####
The idea is to create a hub, an space in

[2015-03-14 15:20] kaichogami commented on #59
Closing this after reading #57.

[2015-03-14 15:20] #59 closed

[2015-03-14 18:34] sarveshgpt1991 commented on #45
Hello @zcbenz
I just want to make sure that what I understand is right, so please correct if I'm wrong.
Atom comes with the pre-compiled binaries, which we won't want because It doesn't work for every linux based system.
To compile atom, compiled binaries of atom-shell are required. And to compile atom-shell, compiled binaries of libchromiumcontent are required.
But we require require source packa

[2015-03-15 07:44] johndbritton commented on #60
@a-br While I personally think this is a cool idea for a project, I don't think it fits well within the framework of Google Summer of Code.

The program requires that you contribute to an existing open source project, and this would be an entirely new project.

[2015-03-15 07:44] #60 closed

[2015-03-15 11:32] vladshablinsky commented on #46
@mikemcquaid, I've got a question. I've been trying to solve problem with renames recently but now I'm not sure I understood everything correctly. I want to clarify what should we do if `wget.rb` migrates to `newwget.rb` and a brand new `wget.rb` appears. What should be done on `brew upgare wget`?
Should the old `wget` be moved to `newwget` locally and then be upgraded or we just upgrade `wget` an

[2015-03-15 11:58] MikeMcQuaid commented on #46
@vladshablinsky I think the behaviour in that edge-case could be up for debate. I'd be up for either just blacklisting the old name so we can't create new formulae with it or somehow tracking intelligently and doing the move.

[2015-03-15 12:31] vladshablinsky commented on #46
@mikemcquaid I've been thinking about implementing the second approach, but It's tricky and haven't come up with idea yet, so I decided to ask you maybe I'm moving in the wrong direction.
Both of the approaches have its pros and cons, I think. The second approach is difficult for understanding from the side of user, because there can be a lot of renames and a lot of formulae with the same names in

[2015-03-15 13:03] MikeMcQuaid commented on #46
That you are thinking about these edge cases is really great. I wouldn't worry about it too much now; I'd be OK with the proposal just stating this is something we'd need to discuss and think through a solution together.

[2015-03-15 14:37] vladshablinsky commented on #46
Thanks, @mikemcquaid! I couldn't move on without having a particular algorithm of the second approach done and I thought it was the only possible approach that can be accepted. But since the particular implementation can be discussed later I can move on.

[2015-03-16 11:22] kumarrishav commented on #52
@kevinsawicki  How text rendering happends in atom. I mean do it (codes) exists in atom core or as a separate package. Related Links would be useful
Thanks

[2015-03-16 11:29] johndbritton commented on #39
I'm not an expert in Atom, but this sounds like you've got a pretty good handle on your proposal. If you've got specific questions, definitely post them here.

[2015-03-16 14:13] youtux opened #61 "Can I make more than one proposal?"
/cc @mikemcquaid
I would like to contribute to some of the Homebrew's ideas. Is it possible to submit more than one proposal?

[2015-03-16 14:23] MikeMcQuaid commented on #61
@youtux You _can_ submit more than one proposal but to save both our time I'd probably advise talking through ideas here first and I can give you a :+1: on the best proposal to make.

[2015-03-16 14:52] youtux commented on #61
Actually what I meant is that I would like to make a proposal for three of the four ideas listened in the Homebrew section, not to add more ideas.
From https://github.com/github/gsoc/issues/57 I see that I'm not supposed to make my proposal public, so can I send to you my proposal to have a feedback?

Thank you!

[2015-03-16 16:06] randomPoison commented on #39
Thanks! I haven't had a chance to start drafting up a full proposal, I've been pretty busy with finals at school, but if I need any help I'll be sure to ask.

[2015-03-16 16:15] kevinsawicki commented on #45
Everything you said seems correct to me :+1:

[2015-03-16 16:18] kevinsawicki commented on #39
Really interesting writeup, a proposal for this would be great, thanks!

[2015-03-16 16:18] #39 closed

[2015-03-16 16:21] kevinsawicki commented on #47
You might want to start by looking at the issues labelled "help wanted": https://github.com/issues?q=is%3Aopen+is%3Aissue+user%3Aatom+is%3Apublic+label%3A%22help+wanted%22

If you are looking to fix a core Atom issue, check out the bugs on the atom/atom repo:  https://github.com/atom/atom/labels/bug

I'm not on IRC, sorry.

[2015-03-16 16:21] #47 closed

[2015-03-16 17:04] MikeMcQuaid commented on #61
@youtux You can email it privately to me at mike@mikemcquaid.com and I'll take a look if you like. I'd suggest picking one project, though. If you're looking for any guidance there then "Officially support using Homebrew without Xcode/CLT" and "Application packages should include all their dependencies" I haven't seen any proposals for yet so might be slightly more likely if we got a million slots

[2015-03-16 18:22] mohakshah opened #62 "Homebrew: Remove a formula along with it's dependencies, sensibly."
I have been looking into a good method to implement a way to remove a formula's dependencies along with that formula for some time. Apart from recursively checking for the dependencies, I would like to use otool (as suggested by @jacknagel on https://github.com/Homebrew/homebrew/issues/7465) and remove just the dependencies that no other formula has linked itself to. Of course the removal of these

[2015-03-16 18:52] MikeMcQuaid commented on #62
@mohakshah `otool` would be one solution but we also might want to store the dependencies in the `INSTALL_RECEIPT.json` and run through them instead. I'd definitely consider a proposal doing this for a project though :+1:

[2015-03-16 18:52] #62 closed

[2015-03-17 02:10] #33 closed

[2015-03-17 03:15] zcbenz commented on #56
@bugisup The only requirement for you is to write a proposal on GSoC's website.

[2015-03-17 05:23] xfq commented on #15
I can't participate in GSoC this year, sorry. I'm working on too many projects currently (and over the next few months) and I don't have the time for GSoC.

Anyway, Atom is great and it will continue to be my main editor.

[2015-03-17 05:23] #15 closed

[2015-03-17 11:10] lejenome opened #64 "GSoC: GitHub command line client"
**About the Idea:**
Having a GitHub command line client will be very useful and will make it easier to check issues and pull requests without living the console and to locally automate work without the need to webhooks for simple uses cases.
The idea is not to duplicate Hub or webhooks. It's just to complete Hub and replace most common GitHub web site services with command line interface using Git

[2015-03-17 11:24] mohakshah opened #65 "Homebrew: Packaging dependencies inside the formula's bottle"
Wouldn't including the runtime dependencies _inside_ the Keg create several copies of the same libraries?  I guess that wouldn't be a problem for most libs since they are quite tiny compared to modern storage media. Is that right or am I thinking about it wrong?

/cc @mikemcquaid

[2015-03-17 11:28] MikeMcQuaid commented on #64
It is up to the organisation but as an organisation we're not accepting new projects I'm afraid (particularly as this overlaps heavily with `hub`). Sorry!

[2015-03-17 11:28] #64 closed

[2015-03-17 11:28] MikeMcQuaid commented on #65
Yes, there'd be multiple copies of the same libraries. This is not actually much of a problem as they are so small but we could potentially optimise this case with hard links if necessary.

[2015-03-17 11:28] #65 closed

[2015-03-17 12:28] kigawas commented on #30
I'd like to help fix the 'Improve text rendering in Atom' issue for GSoC 2015.
What should I do next to apply this project, for instance, writing a application document or something else?

[2015-03-17 12:44] MikeMcQuaid commented on #30
@babykiss4ever This should be useful: https://github.com/github/gsoc/blob/master/proposal-template.md Good luck!

[2015-03-17 20:53] sarveshgpt1991 commented on #45
Hello @zcbenz , @kevinsawicki
Can I personally send you my proposal before submitting to google-melange, so that you could give some feedback on that.

Thank you.

[2015-03-17 23:32] kevinsawicki commented on #45
It will be easier to just review it directly in google melange so please post it there.

[2015-03-18 10:30] prabhanshu1 commented on #31
Hi @johndbritton
what should i do now i have very less days to write the proposal and @mislav has not responded yet, its been 12 days, that i have been waiting for the response.
  Meanwhile i have been working on my shell scripting skill, and the bash completions.
can you suggest some important things before i submit the proposal.

Thanks
prabhanshu abhishek

[2015-03-18 16:50] mislav commented on #31
Hi @prabhanshu1, sorry for the late reply. I'm going to add my thoughts to #34 right now because you both ask the same questions. Please subscribe to that issue for updates!

[2015-03-18 16:50] #31 closed

[2015-03-18 16:58] mislav commented on #34
Hi @hasit sorry for the late reply. To address your questions:
1. Yes, we miss fish autocompletion script. This is under the scope of the GSoC project's deliverables, so if this project gets accepted, then a student will work on this.
2. I didn't know that; if we could pull it off (write man pages so they can be parsed by fish) that would be one good way of approaching the problem.

Something like

[2015-03-18 21:43] hasit commented on #34
@mislav no problem, I guess you must have been busy. In the meanwhile, I have been reading more about fish and how it performs autocompletion.
1. Would this differ from the idea of creating a common way of making completion scripts? Or is it a subset of the main project (since the end product would be to make this automatically)? I feel, working on this would give me a better understanding of the

[2015-03-18 22:48] suyash opened #66 "proposal feedback"
So I submitted my proposal on melange a couple of days ago, and haven't received any feedback. Is it that bad.... even then, please feel free to criticize anything that you don't like, and think it can be improved, so I can improve my chances of getting selected.

From my side I just have the one question right now (also the very first line of my proposal), is it ok to have the summary of the prop

[2015-03-18 23:04] mislav commented on #66
On Wed, Mar 18, 2015 at 3:48 PM, Suyash notifications@github.com wrote:

[2015-03-18 23:09] mislav commented on #34
I think the specifics of the format don't have to be decided up front. This is something that we can come up going back-and-forth during development. I _am_ strongly opposed to XML, but in the end, defining this detail is another part of the project :)

No, let's keep it trough Melange. We are supposed to help you revise your proposal through that platform anyway. :+1:

[2015-03-18 23:20] hasit commented on #34
@mislav Thank you for all the help. I'll get on to finishing my proposal. Looking forward to your comments on it.

[2015-03-18 23:31] mislav commented on #34
Some extra things that you and anyone reading this should consider when creating a roadmap for this project:
1. If we end up generating completions from man pages, then a part of this project will be to improve our existing man page, beginning by splitting it into separate pages, as well as consolidating that with the inline help text that is embedded in Go source for each command.
2. Hub completi

[2015-03-19 11:23] MikeMcQuaid commented on #66
Yeh, it's looking good thanks @suyash! We're currently just reviewing all the incoming proposals. Nothing  needs to be changed in yours. Thanks!

[2015-03-19 13:35] nkt commented on #37
That's how atom-ternjs works now.
<img src="https://cloud.githubusercontent.com/assets/3505878/6731381/af4d579c-ce55-11e4-8e5b-793247b9d1b9.png" width=300>
Ternjs written by `acorn` author, so it's could support es6.

[2015-03-19 13:46] despairblue commented on #37
@nkt though it does not yet completely, right? I had to disable it since it kept throwing errors if the file contained arrow function.

[2015-03-19 14:01] nkt commented on #37
@despairblue I've not found [your commits](https://github.com/tststs/atom-ternjs/commits?author=despairblue) that disable something.
Also I've tried to use sublime `ternjs` plugin and this simple completion also doesn't working fine.

[2015-03-19 15:02] pawandeep2155 opened #67 "Is Fixing a misclassified language a part of Idea List for Linguist in Gsoc15"
I read about Linguist ideas List on  https://github.com/github/gsoc
This page does not have idea of misclassified language
Then I read complete contribution list about Linguist on  https://github.com/github/linguist/blob/master/CONTRIBUTING.md
This page says it has misclassified language as idea list
I am confused..

[2015-03-19 15:04] MikeMcQuaid commented on #67
It is not but improving the accuracy using is a potential project: https://github.com/github/gsoc#weighted-scoring-for-detection-strategies

[2015-03-19 15:04] #67 closed

[2015-03-19 15:04] #66 closed

[2015-03-19 15:04] #61 closed

[2015-03-19 16:52] pawandeep2155 opened #68 "What is the use of Sample folder in Linguist"
I came across Sample folder in Linguist and I think it has nothing to do with Linguist it is just for the developer to get some hand with that language

[2015-03-19 16:57] pawandeep2155 opened #69 "What do you expect in the proposal of Weighted scoring for detection strategies for Linguist"
I want to contribute to Linguist in the " Weighted scoring for detection strategies " idea,
I read its detail on https://github.com/github/gsoc .
 Can you please tell what really do you want / what do you expect from this idea for contribution which could be implemented in 3 months.

[2015-03-19 21:27] despairblue commented on #37
@nkt sorry, you misunderstood me, I had to disable the atom-ternjs in atom, since it kept piling up errors on the right hand side. And those weren't atom-ternjs errors, but ternjs errors. I'll just enable it and post a screenshot of it when it happens again. I meant to report them to ternjs anyway.

[2015-03-20 02:55] pawandeep2155 opened #70 "Why Linguist uses so many Vendors for Syntax Highlighting"
Linguist is using so many vendors for syntax highlighting as the below link says :
https://github.com/github/linguist/tree/master/vendor/grammars
Why Linguist does not use any single package manager for syntax highlighting.

[2015-03-20 10:03] despairblue commented on #37
@nkt that's what I meant: https://github.com/marijnh/tern/issues/510 it's generator functions not arrow functions that don't work.

Sorry for getting off topic :/
Stopping now.

[2015-03-21 11:23] sarveshgpt1991 commented on #45
@kevinsawicki and @zcbenz
I've just now submitted the proposal. Please can you review it and give me feedback on which part I'm not able to explain in detail or may be didn't explain something.
Thanks a lot.

[2015-03-21 17:01] hasit commented on #34
@mislav I have submitted my proposal. Thank you for all the help. I look forward to reading your comments and suggestions on it.

[2015-03-22 03:42] kigawas commented on #30
@mikemcquaid Thanks for your ardent advice, now I just finished uploading the proposal :）

[2015-03-23 04:46] Projjol opened #72 "Feedback for GSoC proposal"
HI!
I'd submitted my proposal a few days back and I haven't received any update regarding it. I understand it must be tough given the huge volume of proposals GitHub would receive, but since only 5 days remain for the application period to close, it'll be great if I could receive pointers regarding my proposal, thereby letting me edit it suitably and improve my chances of getting selected.

Thank

[2015-03-23 11:45] MikeMcQuaid commented on #72
Hi @Projjol, I've commented in Melange. Thanks!

[2015-03-23 11:45] #72 closed

[2015-03-23 14:21] #30 closed

[2015-03-23 18:58] adrianblanco commented on #60
@johndbritton Thanks for the feedback!

[2015-03-24 15:21] sarveshgpt1991 commented on #45
Hello,
Sorry to get back to you again, but please if you could review and comment on my proposal, it would be easy to act on feedback with just 3 days left.
Thank you.

[2015-03-24 17:14] prabhanshu1 commented on #34
@mislav  I have also submitted my proposal. Please give your valuable suggestion on it.

[2015-03-25 11:39] nkt commented on #37
I also want to participate in GSOC with Atom team. I'm on 3rd course in Russian university MIREA on "Applied Mathematics". I pretty know js, coffee, but prefer es6, also I know C++, but didn't wrote something significant using it. I'm just started work on coursework - HTTP 1.0 server, it's will be written using C++ and C.
If my idea will not be accepted, I'm ready work on "Improve Atom's parser pe

[2015-03-25 12:15] MikeMcQuaid commented on #37
@nkt Just submit a proposal based on [the template](https://github.com/github/gsoc/blob/master/proposal-template.md) and we'll review it.

[2015-03-25 12:30] Aakash1312 commented on #72
This issue is closed. Does this mean that I can' t send proposal?

[2015-03-25 12:33] MikeMcQuaid commented on #72
@aprogen No, sorry, it just means I've resolved the question here. You can sent a proposal in Melange.

[2015-03-25 15:54] pawandeep2155 opened #73 "Should I send Proposal for Linguist to Mentor before sending it to google-melange"
I made proposal for Linguist. Should I submit it to the mentor before sending it to google-melange for the corrections.

[2015-03-25 16:53] MikeMcQuaid commented on #73
Best to submit it directly to Melange if that's OK, thanks!

[2015-03-25 16:53] #73 closed

[2015-03-26 08:34] rootAvish commented on #70
Those are grammars.

[2015-03-26 08:35] #18 closed

[2015-03-26 16:04] suyash opened #74 "support for backup organizations"
So I was hanging out in #gsoc yesterday, when I had this conversation

![1](https://cloud.githubusercontent.com/assets/4389751/6850297/5aeabf2e-d3fe-11e4-98e2-5c316d2f88ce.png)

And if that wasn't cryptic enough, what actually got me worried was another conversation

![2](https://cloud.githubusercontent.com/assets/4389751/6850299/609cd09c-d3fe-11e4-8a9b-e9a13599a8bc.png)

And the last comment is s

[2015-03-26 16:38] rootAvish opened #75 "Issue regarding change in Linguist's ideas specification"
Hi,

I had submitted a proposal about a week back regarding the idea of using grammar bundles for tokenization in Linguist, which was one of the two original ideas proposed by you guys. Around the same time as I submitted the proposal, the ideas list was changed with #71, and the new list did not contain the original two ideas anymore. So, my question is, are the original two ideas considered scra

[2015-03-26 23:40] kareekij opened #76 "Is it possible to propose a topic other than 4 areas defined in the idea page."
I was wondering if I propose another topic which is outside the area which is defined in the idea page, do I have a chance to be selected?

I would like to conduct the research in cloud computing area. I have an idea to implement secured multi-cloud system. Is it possible to propose to GitHub?

[2015-03-27 04:38] rootAvish commented on #75
My concern with the issue is that because of this change that took place, I had to make significant changes to my proposal at the very last minute, to add details about how I would go about implementing the extended task at hand.

I ask that you please review the latest iteration of the proposal and not judge it on the content that was first submitted by me, in case you've already gone through it.

[2015-03-27 11:12] MikeMcQuaid commented on #76
Sorry, no, it needs to be on one of our open-source projects listed in the README and is most likely to be selected if it's one of the projects we've suggested. Thanks!

[2015-03-27 11:12] #76 closed

[2015-03-27 11:17] MikeMcQuaid commented on #75
Don't worry, we'll be sure to judge your proposal based on the latest version. I'm really sorry for the inconvenience here and for messing you around.

[2015-03-27 11:42] MikeMcQuaid commented on #74
I think that probably won't be a factor for us but @shana might have a better idea. Regardless, I think we can get in touch nearer the time if this is an issue.

[2015-03-27 13:07] #75 closed

[2015-03-27 15:01] octref opened #77 "Proposal feedback for Atom"
I only submitted my proposal yesterday (sorry), but I spent many hours on it and I'd really like to hear some feedback before the application closes.

@kevinsawicki
Can you take a look at it? Thanks.

@mikemcquaid
It seems kevin is very busy, and I noticed you seem to be reviewing proposals on behalf of other mentors. Do you mind taking a look at mine? Thanks!

/cc @mikemcquaid @kevinsawicki

[2015-03-27 15:09] MikeMcQuaid commented on #77
I've reviewed your proposal and it looks good, thanks @octref. I don't think any changes are needed.

[2015-03-27 15:09] #77 closed

[2015-03-27 15:18] nemesiscodex commented on #68
The Sample folder contains the dataset that may be used to make the classifier smarter. Acording to https://github.com/github/linguist/blob/master/CONTRIBUTING.md#fixing-a-misclassified-language

[2015-03-28 11:58] pchaigno commented on #68
@pawandeep2155 - @nemesiscodex is right. It is used to train the Bayesian classifier. It is also used in many tests (see the `tests` folder).

[2015-03-28 12:23] pchaigno commented on #70
Linguist was using [Pygments](http://pygments.org/) before, a generic syntax highlighter. It is now using TextMate/Sublime Text grammars because it is much faster. There isn't a single highlighter for these grammars as far as I know. I personally think it's best to rely on multiple grammars anyway because that means each grammar can be maintained by developers who actually use it.

[2015-03-30 19:19] ythej opened #78 "GSoC Project Proposal"
Hi,

I have submitted my project proposal on melange but I didn't get any updates or feedback on the proposal. Actually, do I need to wait for any comments on the proposal ? And also I have some UX needs for my project, so, whom should I contact for UX part ? Please review my proposal and let me know if I need to provide still more information.

Thank you.

[2015-03-30 19:27] MikeMcQuaid commented on #78
We'll ask any questions we need on the proposal itself. Thanks!

[2015-03-30 19:27] #78 closed

[2015-03-31 06:44] yvtheja commented on #78
@mikemcquaid , I didn't get any feedback on my proposal. I have been mailing @kevinsawicki but he seems busy. Could you please review it ?

Thank you.

[2015-03-31 08:29] MikeMcQuaid commented on #78
We'll be reviewing proposals over the next two weeks, thanks.

[2015-03-31 10:38] yvtheja commented on #78
@mikemcquaid , Thanks for the information :)

[2015-04-01 20:47] bugisup commented on #56
Hi again. I have submitted the proposal on gsoc site. Will be I considered for participating?

[2015-04-02 02:26] zcbenz commented on #56
@bugisup It depends on all team members' decisions and the slots we get from Google, so it is hard to say until the final result is published.

[2015-04-02 21:28] bugisup commented on #56
Thank you for the fast answer. Is there anything that can increase my chances? I'm able to send my proposal to here, maybe you and other members would ask me something or clarify. I really want to participate, because it's a interesting task for me. Maybe I should start fixing this bug immediately?

[2015-04-03 15:05] bkeepers commented on #70
This is definitely one of the huge advantages. Instead of depending on one library to be good at everything, we can pick the best grammars that people already use in their editors.

[2015-04-03 15:05] #70 closed

[2015-04-03 15:06] #68 closed

[2015-04-03 15:12] bkeepers commented on #74
We'll definitely be in touch if that becomes an issue.

[2015-04-03 15:12] #74 closed

[2015-04-03 15:14] bkeepers commented on #34
Thanks for your proposals! We are working on reviewing them and will let you know if we have any questions or concerns.

[2015-04-03 15:14] #34 closed

[2015-04-03 15:16] bkeepers commented on #69
Hi @pawandeep2155. I think the links in the description adequately described the problem.

[2015-04-03 15:16] #69 closed

[2015-04-03 15:18] bkeepers commented on #52
@kumarrishav Thanks for your interest in Atom. I hope you were able to dive into the atom source code and find answers to some of your questions.

I'm going to close this since the application deadline is now passed.

[2015-04-03 15:18] #52 closed

[2015-04-03 15:23] bkeepers commented on #40
Hi @EasyHard. This definitely sounds interesting. Unfortunately, I don't think this is a project that our Atom team has time to mentor given their other priorities. Maybe next year?

[2015-04-03 15:23] #40 closed

[2015-04-03 15:23] bkeepers commented on #37
The application deadline is passed, so I'm going to close this. Let us know if you have any other questions.

[2015-04-03 15:23] #37 closed

[2015-04-03 15:24] bkeepers commented on #36
Thanks for your interest in Atom! The application deadline is passed, so I'm going to close this. Let us know if you have any other questions.

[2015-04-03 15:24] #36 closed

[2015-04-03 15:25] bkeepers commented on #27
Thanks for your interest in Atom! The application deadline is passed, so I'm going to close this. Let us know if you have any other questions.

[2015-04-03 15:25] #27 closed

[2015-04-03 15:25] bkeepers commented on #21
:metal: thanks for applying. We're working on reviews now and will be in touch. Let us know if you have any other questions.

[2015-04-03 15:25] #21 closed

[2015-04-03 15:28] nkt commented on #37
@bkeepers

Did you accept my application for participation?

[2015-04-03 15:51] bkeepers commented on #37
We're still reviewing proposals. We'll be in touch soon.

[2015-04-03 15:58] nkt commented on #37
@bkeepers thanks, I'll be waiting.

[2015-04-04 05:50] zcbenz commented on #56
I think the proposal is the most important factor, contributing to the project would help a lot, but it is probably too late to do it now.

[2015-04-04 08:12] pchaigno commented on #21
@johndbritton Unless it changed since 2010, projects developed from scratch are accepted too (at least on Google side). For instance, Cuckoo sandbox (used in Virustotal) was developed during GSoC 2010.

[2015-04-06 05:43] johndbritton commented on #21
@pchaigno I was unaware. When I participated in GSoC in 2008 I believe the rule was only existing projects which very well may have changed.

[2015-04-06 19:14] pchaigno commented on #21
@johndbritton I just asked carols on IRC. It may have been a policy in the first years (she couldn't say) but it's now accepted, at least on Google's side ;)

[2015-04-11 17:46] yvtheja commented on #78
@mikemcquaid , I didn't get any feedback on my proposal, could you please provide me ?

Thank you.

[2015-04-13 05:08] MikeMcQuaid commented on #78
@ythej Reviews will be done through the GSoC system. We're probably not providing much more feedback because the edit deadline has passed. Sorry!

[2015-04-13 07:36] yvtheja commented on #78
@mikemcquaid , I have this message shown on the top of my proposal,

"Content of this proposal is not editable at this moment, because student application period is over. If you still need to make some changes, please send a comment to the organization. They can enable modifications for this proposal. "

I think we can still edit the proposal if the changes are still needed. Or I can provide the i

[2015-04-13 22:41] MikeMcQuaid commented on #78
@ythej I'm sorry but we're past that stage in the process.

[2015-04-14 05:30] yvtheja commented on #78
@mikemcquaid , Okay, I will wait for the results. Please make sure that my proposal is evaluated atleast.

Thanks for your reply ! :)

[2015-04-16 05:12] ghost commented on #66
@mikemcquaid , there is an update that I want to notify about, regarding my proposal, that I have added on my secret gist in the comments. I am pinging you here because gist doesn't have a notification mechanism (to my knowledge). Just wanted to make sure that you got it.

[2015-04-25 14:09] METROTXT2 opened #79 "http://socialize.dell.com/GS/GSLogin.aspx?mt=9qi46cvrgB-1Wc7RntdrxQC44lWh9uapeH_V1WFLgzY.&code=AQBz1Joh2AQDehA5ZlP1_VaQqumrCTCm8EnPWi4JpTXxLhC-O_TZfKQMyPkweE9OGEHb7wtjs6DWmh9OP8-bKuvQ2l8O8IAFmqAvdKffSMtZBzcBwrvMngVuLcRJdEcIwpM3ddH55adHUOMaYRZn6IMM1MmJ-5Hx8DmJaAAve76e6Uwp1hSUYxByHafs7w1DoFAGDLfGa0WmlZ0nTV1yAmzdIxZk2TdxshwDar29vyJlaxUbF2ct8y4Bx0FwC3jKNfPjmnSe9guiE6inp6GJzlZuCleM4YZmKg8-OxKJPcSB-vXwwqgRT-cW_g4310zpo3qHSrI5reLjWBYOXs6_"

[2015-04-27 20:22] #79 closed

[2015-04-29 08:35] pandrei opened #80 "Find and implement a better security model for Atom - accepted project"
# Hello!

<p align="justify"> I'm writing this both amazed and amused that I somehow managed to get accepted without even realizing there was this issue list let alone asking something relevant on it :laughing: ! Thank you! It's my third GSoC, but I'm very excited to have an opportunity to contribute to GitHub!  I use GitHub rather often and have been using Atom since I found the GSoC page, hopefu

[2015-05-26 14:17] bkeepers commented on #80
Thanks @pandrei! I hoping everything is getting started well. Feel free to get in touch if we can help with anything.

[2015-05-26 14:17] #80 closed

[2015-05-26 14:28] bkeepers opened #81 "Mockingbird check-in: May 26"
Here are the notes for our check-in with @lazywei, @vmg and @arfon on https://github.com/lazywei/mockingbird

Progress:

- tokenizer has been rewritten in Go
- @vmg says code and tests look :+1:

Next:

- need to find code samples of a known quantity
  - Rosetta code has a lot of samples: https://github.com/github/linguist/pull/2117
    - They may not be great since they are all solving the same p

[2015-05-26 14:29] arfon commented on #81
:+1: thanks for posting these.

[2015-05-26 14:31] lazywei commented on #81
wow, cool! Thanks for the note :D

And it's nice to meet you guys again :-)

-- Chih-Wei (Bert)

On Tue, May 26, 2015 at 10:29 PM, Arfon Smith notifications@github.com
wrote:

[2015-05-26 15:38] #81 closed

[2015-06-05 09:08] prastut opened #82 "Contributing to Github Project. (Very new to FOSS)"
Hi to all the Github Contributors,

I am Prastut Kumar and I am currently doing my undergrad from Vellore Institute of Technology, Chennai Campus, India in the field of Computer Science and Engineering

I wish to contribute to this project, my very first Open source project, because I liked the concept(duh..its Github). Well liking the idea doesn't mean much, and I wish to contribute as a front-en

[2015-06-05 11:35] MikeMcQuaid commented on #82
Hi Prastut, I'm afraid Google Summer of Code has already started so you wouldn't be able to work with us there. Sorry!

[2015-06-05 11:35] #82 closed

[2015-06-06 17:08] pchaigno commented on #82
@prastut You're always welcome to contribute to any open source project though. And being an open source contributor would greatly help your application for GSoC 2016 next year ;)

[2015-06-07 18:15] prastut commented on #82
My objective of coding is purely learning! Sorry if I didn't clearly made my purpose clear. (I want to contribute without a GSOC blade hanging over my head. :p)
I want to start contributing as soon as possible. From where do I start was my question to all the fellow contributors.

[2015-06-09 14:29] arfon opened #83 "Mockingbird check-in: 9 June 2015"
Here are notes from the meeting between @arfon and @lazywei on https://github.com/lazywei/mockingbird

**Progress:**

- Bag-of-words construction  & libsvm format conversion complete and in [`develop`](https://github.com/lazywei/mockingbird/tree/develop) branch.
- Libsvm reader implemented
- Documentation for pulling Rosetta code samples [written](https://github.com/lazywei/mockingbird/commit/6013

[2015-06-09 14:29] #83 closed

[2015-06-09 14:33] vmg commented on #83
Shit, I missed this. Sorry @arfon!

As I told @bkeepers in Chat, there _is_ a performance issue in the tokenizer, but I'm gonna take care of it (eventually), so @lazywei should keep working as usual and making progress.

[2015-06-09 14:39] lazywei commented on #83
Just want to add one more next up item:
- After implementing the NB classifier, we can start doing some comparison with old linguist classifier -- both memory usage and accuracy.

Thanks @vmg for having my back on the performance issue :dart:

[2015-06-11 18:05] pchaigno commented on #82
@prastut
1. Find a project you want to contribute to.
2. Build it from sources.
3. Read the documentation.
4. If you find any issue during the installation, try to fix it (don't forget to follow the project's rules).
5. Find an issue on the repo that you think you can fix and fix it!
6. Improve the documentation.
7. Continue :smile:

[2015-08-02 20:55] hackerkid opened #84 "Would GitHub be participating in 2016 GSOC?"

[2015-08-02 21:03] MikeMcQuaid commented on #84
We haven't decided yet but I'd like us to.

[2015-08-02 21:03] #84 closed

[2015-09-06 21:30] varunagrawal commented on #22
Hey. I am looking to participate in GSoC 2016 and seeing Github as one of the participating organizations helped me decide where I want to spend my energy.
I took a look at the previous GSoC's ideas page and see that this one wasn't taken up. Is it still available to work on and/or are there any other ideas for me to start with?

[2015-09-06 21:33] varunagrawal commented on #22
For that matter I can even work on developing IDE and editor plugins for developing Atom shell apps.
I have been using Atom since before it was released and I use it for everything that can't be handled by VS or Eclipse.
Hoping to hear back about this soon!

[2016-01-01 14:04] naveenjafer commented on #15
@zcbenz  Hi, May I know as to what the status of this initiative currently is? I have a few weeks time in my hands and would like to put it to good use. I have gone through the last year GSoc projects and found this the most relevant to work on. A little bit of initial direction would be really helpful. Thank you.

[2016-01-02 18:33] arkokoley opened #85 "I would like to participate as GSoC 2016 intern to GitHub."
If GitHub participates in GSoC 2016, I would like to intern at GitHub. How do I go about it?

[2016-01-03 08:51] MikeMcQuaid commented on #85
@arkokoley We haven't decided about GSoC 2016 yet. We'll announce anything when we decide. Thanks!

[2016-01-03 08:51] #85 closed

[2016-01-24 17:55] imaculate opened #86 "gsoc2016"
Will github be participating in GSOC 2016?
I would love to participate . Where should I start?
Thank you!

[2016-01-24 18:19] hackerkid commented on #86
Possible duplicate https://github.com/github/gsoc/issues/84

[2016-01-24 18:22] imaculate commented on #86
Thank you!

[2016-01-24 18:22] #86 closed

[2016-01-24 18:23] imaculate commented on #84
I'm also interested in participating.

[2016-01-29 02:53] nalasbali opened #87 "GSoC PLZ participate in my Open Source Research"
Hi,

I would like to invite you to participate in my PhD research which is about contributing to Open Source to modernize Computer Science education. The survey will take few minutes but will be of great value to my research as i need direct evidences from OS users like you, plz, to do my research.

I hope you will be happy to participate by clicking on the related link to take the suitable survey

[2016-01-29 10:47] MikeMcQuaid commented on #87
Thanks and good luck with your PhD! I'm going to close this out as people watching this repo will have seen this notification now and the links and hopefully some fill it out.

[2016-01-29 10:47] #87 closed

[2016-02-09 13:23] naveenjafer opened #88 "GSoC 2016"
Has Github applied as a mentoring organization for the year 2016?

[2016-02-09 19:27] MikeMcQuaid commented on #88
Hi @naveenjafer! We haven't announced anything yet but when we do it'll be on this repository. Watch this space!

[2016-02-09 19:27] #88 closed

[2016-02-09 20:04] naveenjafer commented on #88
@mikemcquaid  Thank you! Eagerly looking forward to news on the same.

[2016-02-17 04:43] naveenjafer commented on #88
Hi @mikemcquaid  No announcements yet? Hope that we get positive news by 19th of this month.

[2016-02-17 07:06] hackerkid commented on #88
@naveenjafer You will get notification if any announcement has been made as you are watching the repo.

[2016-02-17 07:15] OrkoHunter commented on #88
Or we could just till Google announces the org list.

[2016-02-19 01:39] johndbritton opened #90 "Classroom - Enhanced user management"
_Aside from the projects listed here, we are open to other proposals and ideas. Take a look at issues labeled [feedback](https://github.com/education/classroom/labels/feedback), [feature-request](https://github.com/education/classroom/labels/feature-request), [enhancement](https://github.com/education/classroom/labels/enhancement), and [help-wanted](https://github.com/education/classroom/labels/he

[2016-02-19 01:51] johndbritton opened #91 "Classroom - Explicit assignment submission and due dates"
_Aside from the projects listed here, we are open to other proposals and ideas. Take a look at issues labeled [feedback](https://github.com/education/classroom/labels/feedback), [feature-request](https://github.com/education/classroom/labels/feature-request), [enhancement](https://github.com/education/classroom/labels/enhancement), and [help-wanted](https://github.com/education/classroom/labels/he

[2016-02-19 02:05] johndbritton opened #92 "Classroom - Enhanced repository management"
_Aside from the projects listed here, we are open to other proposals and ideas. Take a look at issues labeled [feedback](https://github.com/education/classroom/labels/feedback), [feature-request](https://github.com/education/classroom/labels/feature-request), [enhancement](https://github.com/education/classroom/labels/enhancement), and [help-wanted](https://github.com/education/classroom/labels/he

[2016-02-22 05:41] naveenjafer opened #93 "Atom Package to develop Electron Apps"
`Project Proposal`

This project that I would like to work on is an idea based on a Project that that was floated last year as a part of Google Summer of Code  2015 under Atom. The idea is to build a `Atom Package` to develop Electron(Previously called Atom Shell) apps. What I envision is a feature where developers of the powerful Electron framework, get their application up and running in not mor

[2016-02-22 21:14] shlomi-noach opened #94 "GSoC proposal: MySQL query parallelization"
#### Before you start

Please read the student manual at http://write.flossmanuals.net/gsocstudentguide/what-is-google-summer-of-code/ and make sure you understand how the program works, how proposals are submitted and all the milestones involved.

#### Proposal
Summary: a proxy to MySQL servers that, given a complex `SELECT` query, breaks it into multiple disjoint queries and issues them in paral

[2016-02-23 03:50] technicalpickles opened #95 "Hubot support for multiple adapters"
**Summary**:

Hubot uses the adapter pattern to support many chat platforms. Its architecture currently only supports being connected to one adapter. Connecting to additional adapters is simple in theory, but has a lot of details to work through. When a user is interacting with hubot across two connected adapters, there would be an expectation that hubot knows that you are the same human being on

[2016-02-23 04:22] technicalpickles opened #96 "Improved hubot persistence"
**Summary:**

Hubot has supported persistence for a long time. Chat users encountered are saved, with scripts having the ability to recall or change details about the user, in addition to saving more global information.

Internally, this is implemented as a simple javascript object in memory. Through scripts like [hubot-redis-brain](https://github.com/hubot-scripts/hubot-redis-brain) 'support' sav

[2016-02-23 06:08] bhuga commented on #95
:heart:

[2016-02-23 06:09] bhuga commented on #96
:heart:

[2016-02-23 06:53] zcbenz opened #97 "Electron - Multiple language support in documentation site"
__Summary__:

Electron's [documentation site](https://github.com/atom/electron.atom.io) only supports English for now, though there are translations of the documentations in [Electron's repo](https://github.com/atom/electron/tree/master/docs-translations), they are not showed in the website.

__Expected Outcome__:

* Provide a way to switch between multiple languages in the website.
* Automaticall

[2016-02-23 07:01] zcbenz opened #98 "Electron - Better support for devtools extensions"
__Summary:__

Electron has basic support for devtools extensions, but still lacks support for popular devtools extensions like React DevTools Extension.

__Expected Outcome:__

* Implement basic `chrome.*` APIs to make React DevTools Extensions work.
* Have a complete test case for DevTools Extensions APIs.
* Provide a built-in GUI interface to manage DevTools Extensions.

__Skills__: C++, JavaScr

[2016-02-23 08:11] naveenjafer commented on #93
Hi, @zcbenz  would you be able to help me with this in your spare time. It would be great if you can :)

[2016-02-23 14:13] bkeepers commented on #88
We have applied to GSoC 2016. We will open an issue in this repository with details once Google announces the organizations.

[2016-02-23 14:22] shlomi-noach commented on #94
/cc @github/systems-mysql idea for Google Summer of Code

[2016-02-23 15:30] shana opened #99 "Releases management in GitHub for Visual Studio"
### Before you start

**Please read the student manual at http://write.flossmanuals.net/gsocstudentguide/what-is-google-summer-of-code/ and make sure you understand how the program works, how proposals are submitted and all the milestones involved.**

---

_Aside from the projects listed here, we are open to other proposals and ideas. Take a look at issues labeled [feature](https://github.com/gith

[2016-02-23 15:49] shana opened #100 "Octokit.Net running on .NET Core"
## Before you start

**Please read the student manual at http://write.flossmanuals.net/gsocstudentguide/what-is-google-summer-of-code/ and make sure you understand how the program works, how proposals are submitted and all the milestones involved.**

Head to the relevant issues linked below to discuss the project, ask your questions, etc. If you’re looking for entry tasks to get up to speed with t

[2016-02-23 15:57] shana opened #101 "Octokit.Net - Rewrite HTTP internals"
## Before you start

**Please read the student manual at http://write.flossmanuals.net/gsocstudentguide/what-is-google-summer-of-code/ and make sure you understand how the program works, how proposals are submitted and all the milestones involved.**

Head to the relevant issues linked below to discuss the project, ask your questions, etc. If you’re looking for entry tasks to get up to speed with t

[2016-02-23 22:36] shiftkey opened #102 "Octokit.net - Improve Streaming Support"
**About Octokit.Net**

[Octokit.Net](https://github.com/github/mentorships/issues/octokit.net) is the [open source](https://github.com/octokit/octokit.net/) cross-platform GitHub API Client Library for .NET.

**Summary**

The Observable-based API in Octokit currently returns results after all pagination requests are completed. As Observables support streaming results to the caller (unlike other as

[2016-02-23 23:53] shiftkey commented on #102
Just had @haacked jump in and correct me that this is Working As Designed™ so this isn't really a good task. D'oh!

[2016-02-24 08:12] zcbenz commented on #93
@naveenjafer This project looks good to me, but whether we can accept you as a student on this will depend on the slots we get from Google and the student applications we received.

[2016-02-24 08:35] naveenjafer commented on #93
Hi, @zcbenz  I understand that Google will allot the slots finally and the importance of the project within the organization will also play an important role. I would love to have a short discussion with a Github member on the same. I have tried the community at discuss.atom.io for the same, but have been unable to evoke much response for the selected queries that I have. The initial direction fro

[2016-02-25 00:13] lee-dohm opened #103 "Atom Community Representative"
Provide day-to-day support and services to the Atom community through Issues, Pull Requests, discussion forum and other support channels. This is designed as an entry-level opportunity for someone who wants to get involved in the tech industry.

**Heads Up!** _this mentorship is not available for GSoC_

### Expected Outcome

Candidate has an understanding of and capability to perform:

* Issue and

[2016-02-25 00:14] lee-dohm commented on #103
/cc @bkeepers

Totally open to feedback on tightening this proposal up or making it more clear.

[2016-02-25 10:37] johndbritton commented on #103
This looks pretty cool, but just want to make it clear that this one would not be eligible for GSoC.

[2016-02-25 16:56] lee-dohm commented on #103
@johndbritton Yes, that's correct.

[2016-02-27 09:58] hTrap commented on #94
Hey @shlomi-noach, this project sounds really interesting, I would like to work on it. Can you give me some pointers on how I might get started?

[2016-02-28 07:25] Boggartfly commented on #92
@bkeepers and @johndbritton This is a very interesting project. Is this project eligible for a **GSOC 2016** _(Google Summer of Code)_ submission? I'm thinking of doing that. Please do let me know!

[2016-02-29 12:14] johndbritton commented on #92
@Boggartfly [GSoC timeline](https://developers.google.com/open-source/gsoc/timeline) says that we'll know if we are accepted as of 19:00 UTC on 29 Feb.

[2016-02-29 19:20] Boggartfly commented on #90
@johndbritton and @bkeepers I'm more keen to work on this idea for GSOC 2016. As I understand GitHub has been accepted to the program this year. I have a fair idea of what can be done to solve this problem. What do you guys think about this as a GSOC project?

[2016-02-29 19:22] byt3smith commented on #96
:+1:

[2016-02-29 19:26] naveenjafer commented on #93
Great to see Github as a mentoring organization for Google Summer of Code 2016. Eagerly looking forward to discuss this proposal with potential mentors.

[2016-02-29 19:26] royxue commented on #98
@zcbenz Hi, Cheng, I find this issue is interesting, I would like to do it.

[2016-02-29 19:27] johndbritton commented on #90
@Boggartfly It looks like we were accepted. Applications will open through the Google Summer of Code site on 14 March. This would be a great project to propose.

[2016-02-29 19:36] prastut commented on #90
@johndbritton To verse myself with the codebase, can I start working on this project?

[2016-02-29 19:40] johndbritton commented on #90
@prastut Pull requests are welcome, please be sure to read the guidelines for contributing and include tests with any code changes.

[2016-02-29 19:43] devkhan commented on #99
This looks good, I would like to take up this project. Where can we discuss about this project? Is there an IRC channel or Gitter or something?

[2016-02-29 19:45] devkhan commented on #100
I want to learn more about hits project, is there chat or discussion forum for this?

[2016-02-29 19:48] devkhan commented on #101
I want to learn more about this project, is there a chat or forum etc.?

[2016-02-29 19:57] devkhan commented on #103
Is this open to students?
I do understand the duties and responsibilities but is this like a job or something or can anyone who is well versed with GitHub workflow, especially Atom's) do it (remotely)?

[2016-02-29 19:59] gitexperience commented on #99
I have immense experience on working on Visual Studio and Xamarin with C#, and have contributed a lot to the mono-project , but unfortunately it is not listed in this years' list ..
I will need your help in preparing my proposal , please point me to the IRC channel or anything like Gitter etc. So ,that i can post and get reply about my queries as early as i can. Thank You for your help..

[2016-02-29 20:23] #102 closed

[2016-03-01 01:17] jackatbancast commented on #95
Since hubot requires an an external package to support roles, would there be any real benefit of integrating recognition of a human across adapters into hubot?

Also, would a sensible way of adding this functionality be to sychronise via a magic cookie and using a key-value store to save the association of users across platforms?

[2016-03-01 02:29] connorshea commented on #97
I might be interested in this, I have experience with Jekyll, as well as in implementing i18n in Rails. Would it be possible to get more information on this one?

[2016-03-01 06:02] moizsajid commented on #91
@johndbritton This seems like an interesting project to work on. However, I have very little experience with Ruby. Is this project going to work out well for me?

[2016-03-01 08:39] nanaeasiedu commented on #96
:+1: Seems like an interesting project I would like to work on

[2016-03-01 09:25] johndbritton commented on #91
I think it would be helpful if the student had some Ruby experience. I'd recommend trying to get the app running locally and making an attempt to fix a small bug or make a small change. I think that's a reasonable minimum bar for being considered for this project.

[2016-03-01 09:26] johndbritton commented on #97
@zcbenz Is the best person to answer questions about this, but I would encourage you to start putting together a proposal to bring the multi-language documentation to the electron site.

[2016-03-01 11:01] faurehu commented on #98
@zcbenz I am also interested, will apply.

[2016-03-01 15:43] burdenless commented on #96
Would it be reasonable to assume that with moving to a more stable and supported form of data persistence, the various configuration options that are specified as environment variables currently may also be moved to persistent storage? Moving the configuration variables to storage might help with other areas of future Hubot development, for instance, with the use of multiple adapters. Keeping trac

[2016-03-01 17:20] technicalpickles commented on #95
I tried to word the expected outcome to suggest that it's pretty likely that it would be an external package to coordinate recognition of humans across adapters, rather than part of hubot's core.

Can you elaborate on what you mean by synchronizing a magic cookie?

Hubot has a key/value store as part of it's core, which includes information about a user. See https://github.com/github/mentorships/i

[2016-03-01 17:47] freddiev4 commented on #94
Hey @shlomi-noach! This project sounds super interesting! Over the past few months I've been working with SQL and have been looking for an excuse to brush up on my Golang skills. I don't know much about parallelization but am very interested to learn more via this project. Could you let me know how I could get started or how I could best prepare myself to work on this?

I found this via GSoC but u

[2016-03-01 18:37] leonnardo commented on #91
@johndbritton I have interest in this project (or any other issue of Classroom) for GSoC. How can I start?

[2016-03-01 18:51] johndbritton commented on #91
@leonnardo As mentioned above, you can start by getting the app running locally and submitting some bugfixes other small improvements.

[2016-03-01 19:04] chanlvh commented on #97
Wondering if the website is written in Rails?

[2016-03-01 19:41] chanlvh commented on #98
I'm also interested :) Will apply soon

[2016-03-01 20:52] naveenjafer commented on #93
Hi @zcbenz , What would be the best place to get in touch with you. I am not sure if my mails have been delivered to your email ID as expected. Would Slack be a good place for the same?

[2016-03-01 21:31] AlexP11223 commented on #101
Hi.

I am a student and I am looking for a project for GSoC. I have experience in web and desktop development (including .NET).
I live in Europe, UTC+2.

I think this project may be suitable for me. How should I start? What should I do before application?

[2016-03-01 21:31] rogertinsley commented on #100
:+1: for this, if I can contribute then I'd be happy to do so.

[2016-03-01 21:39] technicalpickles commented on #96
That is not a good assumption. Environment variables are typically used for configuration, with things like API credentials and things like that. It should be possible to change those at hubot start time without having to talk to a persistent datastore.

[2016-03-01 22:28] burdenless commented on #96
Fair enough. Just throwing around ideas of other possible use cases for persistence.

[2016-03-02 05:12] GDLMadushanka commented on #99
@shana Hi I saw someone has started developing this feature in https://github.com/github/VisualStudio/issues/223
So is this project still a viable option ?

[2016-03-02 10:24] shana commented on #99
@GDLMadushanka Not sure what you mean by developing the feature. That issue is where discussion happens for the feature, so people are asking questions there, that's how it works. Unless someone does a PR with the feature in advance stages of completion before GSoC starts (not likely), this issue is going to be in GSoC.

Note: In GSoC, students submit their proposals to the organization via the GS

[2016-03-02 10:49] M-Zuber commented on #100
@devkhan there is a gitter chat. The README should have a link to it.

[2016-03-02 11:05] shana commented on #101
Heads-up: I've updated the issue with important information about the project and GSoC in general, please make sure you read the information linked.

[2016-03-02 15:52] thePsguy commented on #97
@zcbenz, Could you please set up a development challenge for this task? I'm pretty sure this is a task many people could handle really well, given its direct nature.

[2016-03-02 18:08] shlomi-noach commented on #94
Student application is to begin on March 14, if I'm not mistaken. Until such time anyone is a free citizen and can poke around as much as they like; if you get started it's on your own.

[2016-03-02 18:12] shlomi-noach commented on #94
As background people can poke into [Vitess](https://github.com/youtube/vitess), and in particular into the [SQL parser](https://github.com/youtube/vitess/tree/master/go/vt/sqlparser).
Also noteworthy is [go-mysql](https://github.com/siddontang/go-mysql#server) where you can find a MySQL server mockup implementation.

[2016-03-02 19:35] devkhan commented on #101
@shana Can you please tell about some resources/issues from where to understand how Octokit.Net works from the inside, how is it structured, etc?

I am new to the project and hence, would first like to gain some insight about the project and jumping on to the mentioned issues/PRs later on. :bow:

[2016-03-02 22:52] dinever commented on #94
Hi @shlomi-noach, if I am not mistaken, this will be a stand-alone project. So I can start to create a repository and work on it, right?

[2016-03-03 07:28] shlomi-noach commented on #94
Elaborating on this project:

This is a one developer project. Anyone may create a repository and start working on this. Only GSoC applicants will be communicated with, though. GSoC applicants can begin drafting their proposals at their leisure.

More technical description:
- It is a well known fact that MySQL only utilizes a single core to a given query.
- A common setup is to have multiple MySQL

[2016-03-03 11:48] nanaeasiedu commented on #96
Most of the issues I looked at seemed to talk about the timing and the way the event emiiters have been mixed up in the adapters, brain and robot. Does this mean that most of the problems with the `brain` and the external scripts persistence arises due to timing and event emitters?

Don't really get it. Is it that we want to move persistence into the hubot brain code or create an API for it.

[2016-03-03 14:43] shana commented on #101
@devkhan You should go to the project repo and figure those things out by cloning and building the project, looking at the tests and the code, reading the documentation, etc. There are links to the relevant issues above where you can ask questions.

[2016-03-03 15:18] technicalpickles commented on #96
@ngenerio:

That's correct. There are at least 3 event emitters in hubot (robot, adapter, brain) and it is difficult to reason about what fires when, and persistence related things should take place.

Sorry for the ambiguous language. It's for creating & documenting the API for other things to use.

[2016-03-03 16:22] nanaeasiedu commented on #96
So what this project seeks to achieve is to provide a more concise and orderly way to know what happens in `hubot` and when it happens?

And also making sure hubot brain's works in a way to provide consistency??

[2016-03-03 16:25] nanaeasiedu commented on #96
All this must take place whiles also supporting #95 because it looks like one can't be done without considering the design of the other?

[2016-03-03 19:15] devkhan commented on #101
Thanks @shana, I think I'm gonna do some research before continuing and working on the proposal.

[2016-03-03 19:42] technicalpickles commented on #96
That's right.

Not necessarily. These are both project ideas, but it doesn't mean they will both be accepted and worked on.

This project will care a lot about backwards compatibility with existing hubot installs & scripts, so that project can proceed without an explicit dependency.

[2016-03-03 19:46] johndbritton opened #104 "Google Summer of Code 2016"
GitHub is a mentoring organization for Google Summer of Code 2016. You can read more about the program and see the full timeline on the [official site](https://summerofcode.withgoogle.com/how-it-works/)

As a participating organization, we've created an [ideas list](https://github.com/github/mentorships/issues?q=is%3Aissue+is%3Aopen+label%3Aproject) that you can browse. We encourage potential stud

[2016-03-04 15:03] GDLMadushanka commented on #99
Hi @shana Thanks for the reply. I read a little about architecture of Git (DAG like stuff), Cloned the repo and started learning about other projects that the main project depends on. And I planned of doing some "getting start" type projects on Akavache, LibGit2Sharp, Octokit, ReactiveUI and Rothko (To understand Facade layers). It would be really helpful if you could give some guidelines on how t

[2016-03-04 16:20] shana commented on #99
@GDLMadushanka If you've never created visual studio extensions before, that's probably a good way to start, so you can understand how to host UI in visual studio and how things are different from a standalone application. There's various templates in Visual Studio for creating extensions, and examples on msdn and other sites. The more important external libraries for this project are going to be

[2016-03-04 17:07] devkhan commented on #104
Can we have a general purpose chat on Gitter or something similar where all the students can discuss issues, questions, doubts, etc?

Right now, every project's discussion happens on its own issue or project chat. We can have a common chat room and maybe also a chat logo on the **README** of this repo. I know we can open an issue for questions but instead of having distributed discussions, won't i

[2016-03-04 20:42] prastut commented on #90
@johndbritton I have my dev env setup and wish to work on this project. As a fan of Don Norman's work in cognitive science, I believe I can bring this home. How do I prove myself that I am a worthy candidate for this project? There aren't any entry-level bugfixes or issues on which I could work on so therefore asking.

[2016-03-04 20:42] benbalter opened #105 "Jekyll community plugin and theme directory"
### Summary

Similar to Atom's https://atom.io/packages, this project would create an interactive directory to help maintainers showcase and users discover Gem-based Jekyll themes and plugins.
### Expected Outcome

An open source, community-maintained site at `plugins.jekyllrb.com` and `themes.jekyllrb.com` (or `jekyllrb.com/plugins` and `jekyllrb.com/themes`) that lists community-maintained Jekyl

[2016-03-04 20:48] prastut commented on #105
Hi @benbalter this project looks lovely. Where can I discuss this project? Email or here?

[2016-03-04 20:54] benbalter opened #106 "Internationalization / localization support for Jekyll"
### Summary

Most modern web-publishing frameworks support the ability to publish content in multiple languages. Doing so for static sites presents a unique challenge. This project would create a core Jekyll plugin to enable web publishers to localize static content (e.g., `example.com/en/about` versus `example.com/es/about`).
### Expected outcome

A Jekyll plugin that allows web publishers to pub

[2016-03-04 21:42] benbalter commented on #105
@prastut awesome to hear! Glad to chat here, if you don't mind the conversation being public, otherwise, you can email opensource@github.com and mention this issue, and we can chat privately.

[2016-03-04 21:54] hackerkid commented on #105
@benbalter Thanks for adding this project. The Jekyll community has been waiting for an official directory for a long time.

[2016-03-04 22:18] benbalter opened #107 "GUI/Administrative interface for Jekyll"
### Summary

This project would create a traditional CMS-style graphical / interactive interface (think WordPress's `wp-admin` section) to author static content and administer Jekyll sites. This could be a generic WYSIWYG markdown editor for static sites, or a purpose built tool for non-command-line users to administer their Jekyll site.

### Expected Outcome

The project would result in a desktop

[2016-03-04 22:39] benbalter opened #108 "On-demand rendering for Jekyll"
### Summary

Right now, to view a single file, Jekyll must render and write to disk, the entire site. For small sites, this is not a problem, as site generation takes milliseconds. For larger and more complex sites, this process requires significant overhead. Instead, for faster previewing, Jekyll could read in all of a site's files, a relatively inexpensive task, and render only the file requeste

[2016-03-04 22:58] prastut commented on #105
@benbalter, @parkr  No problem in the discussion being public. This comment would help other potential first time GSOCer's too who aren't familiar with the GSOC process.

Jekyll is something which I have been using extensively in my projects and passionate about. I am currently in the phase of porting [my website](http://prastut.github.io/) and was interning with a [startup](https://www.houseafic.

[2016-03-04 23:18] nanaeasiedu commented on #96
@technicalpickles Understood.

[2016-03-04 23:20] nanaeasiedu commented on #96
Currently gone through how the events in hubot works. Will do a write up for this and see where to go from there.

[2016-03-05 12:25] keonkim opened #109 "create an official github android application"
I discovered that github applications in androids are all privately made and they are maintained poorly.
I wish to make github experience available anywhere on smartphones.

[2016-03-05 12:56] Dragooon opened #110 "Prospective GSoC 2016 student"
Hello!

To begin with, I'm not really sure if creating an issue is appropriate, if there is some other way I should get in touch with mentors, please let me know.

I’m Shitiz Garg, a third year computer science student from India and a freelance web developer primarily focussing on PHP/JS. This would be my third GSoC, during my first and second year I participated with phpBB and Drupal respectivel

[2016-03-05 13:16] amitojsingh commented on #91
@johndbritton
Hello,
I forked the classroom repository as it was written in the contributing guidelines and successfully running this app locally on my system. now what to do next? Can I have list of bugs?
cheers!

[2016-03-05 14:12] bkeepers commented on #109
Hi @keonkim, thanks for the suggestion!

Little known fact: there used to be an [official Android app](https://github.com/blog/1187-github-android-app-released)! [PocketHub](https://github.com/pockethub/PocketHub) that was originally written by GitHub's own @kevinsawicki. It didn't get enough usage for us to continue putting a lot of resources into it, so we handed it over to the community.

[2016-03-05 14:12] #109 closed

[2016-03-05 16:58] kishoredbn commented on #98
@zcbenz Hi Cheng, This seems something feasible. Can you assign any task for me as for now so that I can work on that and analyse how comfortable I'll be going forward with this project, and to be considered for this project.

[2016-03-05 17:59] benbalter commented on #105
@prastut all great questions.

That sounds like a good approach. While neither @parkr nor I are designers, GitHub has some talented designers (many of whom are also Jekyll users), that I'm sure can also lend a hand.

That's a great observation, and while I linked out to Atom's package website as an example, it's important  to distinguish the two projects, and their users bases, as you did. While A

[2016-03-05 18:43] erlend-sh commented on #105
@parkr is [jekyll/plugins](https://github.com/jekyll/plugins) still relevant? Could it be used as a starting point for the student?

[2016-03-05 19:14] mertkahyaoglu commented on #107
Really cool project :sparkles: I would love to work on it.

[2016-03-05 19:54] erlend-sh commented on #107
Prior art:

https://github.com/gabriel-john/utterson (discuss [here](https://talk.jekyllrb.com/t/backend-web-interface-for-jekyll/1712))
https://github.com/rlafranchi/statixite
https://github.com/netlify/netlify-cms

[2016-03-05 23:34] johndbritton commented on #91
@amitojsingh There's a list of issues at https://github.com/education/classroom/issues, feel free to dive in to any that are labeled `help-wanted` or open an issue in the repo to discuss other ideas you'd like to work on before submitting your proposal.

[2016-03-05 23:35] johndbritton commented on #90
You can find a list of open issues at https://github.com/education/classroom/issues, especially issues labeled `help-wanted`. If you have other ideas for small things to work on before you propose a project, feel free to open an issue on the repository to discuss.

[2016-03-06 11:11] hackerkid commented on #107
This project is awesome. I would also love to work on it :zap:

[2016-03-06 15:13] GDLMadushanka commented on #99
@shana can we send our applications prior to submission period ?. Then we can take feedback and improve them. If yes, please provide some method to contact you. Thanks.

[2016-03-06 16:16] Calinou commented on #106
I would like to work on this. I'm a native French speaker and also use Jekyll quite a bit (I have used it for an university project).

[2016-03-06 17:38] shana commented on #99
@GDLMadushanka There will be plenty of time to take feedback during the application period, no need to send things before then.

[2016-03-07 06:21] Aakash1312 opened #111 "Atom - Project Idea for GSOC"
For Gsoc, I have thought of the following project ideas:
I am presently searching for mentor for any of these topics.

**a. Implementing a new decoration type and marker layer for scrollbar**

Refs. atom/find-and-replace/issues/529 and atom/atom/issues/9120
Markers on scrollbar can give a very good insight of the entire document. Scrollbar takes a very little space of text-editor. But with its hel

[2016-03-07 10:03] shiftkey opened #112 "Octokit.net - add support for lookup by repository ID throughout APIs"
## Before you start

Please read the student manual at http://write.flossmanuals.net/gsocstudentguide/what-is-google-summer-of-code/ and make sure you understand how the program works, how proposals are submitted and all the milestones involved.

Head to the relevant issues linked below to discuss the project, ask your questions, etc. If you’re looking for entry tasks to get up to speed with the p

[2016-03-07 11:10] johndbritton commented on #110
You can view the list of projects on this repository and find one that looks interesting to you. From there you should be able to go to the project itself and get a look at some starter issues or get a conversation going with potential mentors via the channels they use for communication for their project.

[2016-03-07 11:10] #110 closed

[2016-03-07 14:44] bkeepers commented on #104
@devkhan thanks for the suggestion. We are hanging out at https://gitter.im/github/mentorships.

/cc #113

[2016-03-07 19:15] ghost commented on #92
Hello, I am interested in this project. I have got a local installation running. Can you please point me to some beginner bugs to get familiar with the code base.

[2016-03-07 20:59] ironmaniiith commented on #92
I found the idea of Github Classroom quiet interesting and would like to contribute to it.
@johndbritton , @tarebyte can you tell me how can I start contributing to it and get involved in the developing community.

[2016-03-08 23:59] abhishekc-sharma commented on #95
I've gone through the code of the hubot core and that of the two default adapters and feel like I have pretty good idea of how it works now. I have a few questions about what exactly is expected out of this.

What would recognition of users across platforms pertain to exactly ?

And at what stage of interaction with the user is the bot supposed to recognise that it's a user from another platform ?

[2016-03-09 00:02] cyhsutw commented on #108
Hi @benbalter, this project looks interesting. I would like to join this. How can I discuss this with you, via email or just leaving comments here?

[2016-03-09 00:14] benbalter commented on #108
Awesome to hear! Glad to chat here, if you don't mind the conversation being public, otherwise, you can email opensource@github.com and mention this issue, and we can chat privately

[2016-03-09 05:01] nirlanka commented on #98
@zcbenz, I have experience in working with and developing devtool extensions in Chrome. This seems like a really interesting and useful feature in making Electron more powerful in handling development on every level including hacking itself and I'd love to work on this.

[2016-03-09 09:28] nirlanka commented on #108
hi @benbalter, @parkr! This has been something I've always wanted since I started using Jekyll. I've been planning my own simple alternative to Jekyll with on-demand/selective rendering as a key feature. I'd love to start working on this.
P.S. I was kind of under the impression lack of on-demand rendering was a key design decision in Jekyll

[2016-03-09 20:33] benbalter commented on #108
@NirmalL That's awesome to hear. While rending the entire site to static files is definitely a design decision for what we might call "production", if there is such a think for static sites, there are two use cases that come to mind, where prioritizing, or selectively rendering may be useful:
1. Previewing locally. If I change `about.md`, and Jekyll detects that, there's a good chance I'm going to

[2016-03-09 21:48] technicalpickles commented on #95
Here's an example to try to explain. Let's say I wrote a hubot to help maintain hubot (very meta), and wanted it to work in #hubot on IRC and on a (fictional) community Slack account. I could write a script where I tell it about myself (like npm login, github login, etc). That is where hubot's brain comes in, where scripts can save data about a specific user. If I'm `technicalpickles` on IRC, and

[2016-03-09 22:09] johndbritton opened #115 "Classroom - Usage dashboard"
_Aside from the projects listed here, we are open to other proposals and ideas. Take a look at issues labeled [feedback](https://github.com/education/classroom/labels/feedback), [feature-request](https://github.com/education/classroom/labels/feature-request), [enhancement](https://github.com/education/classroom/labels/enhancement), and [help-wanted](https://github.com/education/classroom/labels/he

[2016-03-10 12:36] abhishekc-sharma commented on #95
Thanks for the reply ! Will think about this more and try to come up with something.

[2016-03-10 14:48] parkr commented on #105
@erlend-sh Yes, jekyll/plugins is still relevant. As a starting point, we can use the content from http://jekyllrb.com/docs/plugins/#available-plugins, normalize the fields, and present the packages on plugins.jekyllrb.com or jekyllrb.com/plugins.

[2016-03-10 17:27] iolsen commented on #111
Hi Aaakash. There are some really cool ideas here but unfortunately the Atom team has limited mentorship bandwidth this summer and we're not going to be able to help with this. Thanks for your interest in Atom!

[2016-03-10 19:32] devkhan commented on #101
@shiftkey Can you please tell us at what times will you be available on chat or email or GitHub Issues? I live in India (UTC+5:30). I will adjust my timing according to yours.

[2016-03-10 19:44] johndbritton commented on #101
@devkhan We started a chat room here: https://gitter.im/github/mentorships

[2016-03-10 19:48] devkhan commented on #101
@johndbritton I know, I opened that issue but I just thought that since issues are such a major part of GitHub workflow, it would be better if I posted on this issue.

Anyway, thanks. :+1:

[2016-03-11 14:17] nirlanka commented on #108
@benbalter I see. I think the second scenario can perhaps be quite useful in something like gitpages. Is that the idea? I guess we can use git API to identify the changed files. I guess it might even be extensible to even partial-render the pages... to an extent, though it's probably an overkill.
Do you have any suggestions/advice on how we may proceed? I'm planning to go through the things in the

[2016-03-11 17:56] dinever commented on #107
Pretty cool project. BTW you guys can refer to this one. https://github.com/jaredly/hexo-admin.git

[2016-03-12 12:33] catchabhisek commented on #90
@johndbritton
Sir,
I am a node.js developer I want to work with you on this project. How do I prove myself as a worthy candidate for this project ? I have prepared a sub-project i.e Notification Service related to your idea of project: classroom. Sir, shall I push the sub-project in github.

[2016-03-12 13:15] johndbritton commented on #90
@Abi-Abhisek A good place to start is to get the project running locally and sending a pull request for one of the issues labeled [help-wanted](https://github.com/education/classroom/issues?q=is%3Aissue+is%3Aopen+label%3Ahelp-wanted).

If you post your code in a repository on your account and share a link in your application, that would be useful to see.

[2016-03-12 14:22] catchabhisek commented on #90
@johndbritton
Sir,
Your existing web-application is in ruby on rails. I am a node.js app developer . So, Can I make one of my own version of auto-complete field using node.js. I will create a repository in response to it ??

[2016-03-12 14:52] johndbritton commented on #90
If you work on this project, you'd need to learn Ruby on Rails, however showing your Node.js code would be useful for evaluating your application anyways.

[2016-03-12 15:30] catchabhisek commented on #90
ohk. Thank you sir.

On Sat, Mar 12, 2016 at 8:23 PM, John Britton notifications@github.com
wrote:

[2016-03-13 09:49] zcbenz commented on #93
Hi @naveenjafer, after discussing with the team, we won't have a mentor for this project this year, sorry but I'm closing this.

[2016-03-13 09:49] #93 closed

[2016-03-13 15:17] #111 closed

[2016-03-13 15:48] ghost opened #116 "Jekyll plugin to automatically generate Pdf, Epub and Mobi versions of posts"
Jekyll plugin similar to the [Read Offline Wordpress Plugin](https://fr.wordpress.org/plugins/read-offline/) that generate versions of posts for e-readers and offline use, and make them easily downloadable through the website without any further interaction from the writer.

[2016-03-14 07:56] prastut commented on #105
@benbalter @parkr I wish to discuss this project more. Can I make some wireframes and send it across?

[2016-03-14 13:17] hackerkid commented on #107
@benbalter @parkr I mailed to opensource@gh regarding this project three days before. I didn't get a reply yet.  Should I mail you guys to your personal mail or wait some more time for the reply?

 Since the application period is opening soon I would love to hear your feedback before submitting the proposal.

[2016-03-14 14:04] benbalter commented on #105
Of course! Looking forward to discussing them. :smile_cat:

[2016-03-14 15:40] benbalter commented on #107
@hackerkid Glad to see you're excited, and thanks for your patience over the weekend. I just replied with some high-level feedback.

[2016-03-14 17:09] hackerkid commented on #107
@benbalter Thanks a lot for the feedback. I will make changes as you suggested.

[2016-03-14 17:31] benbalter commented on #108
That's one idea, yes, but there are lots of use cases, including faster local previewing.

If you think about the process required to view `/about` for a site, today, we have to generate the entire site. That's fine for a site with 5, 10, even 100 pages, as it'll generate pretty much on demand. As sites get more complex, that delay can become noticeable. But thinking through what's actually happen

[2016-03-14 18:33] lee-dohm commented on #103
Sorry @devkhan for not getting back to you on this right away. This is a new kind of mentorship role for us, so there are still some things we need to figure out. I'll be updating here when we have more information :grinning:

[2016-03-14 20:11] oparley commented on #115
@johndbritton @tarebyte
What kind of metrics would you like to see on the dashboard? Do you already collect those metrics or do you want us to implement it?

[2016-03-14 20:48] johndbritton commented on #115
Part of the project is figuring out what's useful and proposing to create it. There are two main goals for this project:
1. Staff should be able to get an overview of activity appwide
2. Teachers should be able to get an overview of activity in their classrooms

The DB has a lot of data, but I think we'll also have to use the GitHub API for things like commit activity on repositories.

[2016-03-14 20:55] oparley commented on #115
@johndbritton Thank you very much!

[2016-03-15 03:56] nirlanka commented on #108
@benbalter Thanks for the explanations. I think now I understand what you mean. I agree with your points about git too.
As a way to proceed would you recommend first analyzing and listing the goals, requirements and sub-features, then prioritize them according to the feasibility and usage?

[2016-03-15 06:22] AlexanderEkdahl commented on #106
Another way of splitting content is by using different cTLDs for content(google.kr, google.se, google.com, etc.) which is the method recommended by Google. I've hacked on Jekyll before and not sure if that is outside the scope of Jekyll as it would probably require splitting the output into different destination folders.

Internationalization presents many unique challenges such as RTL, date and t

[2016-03-15 08:23] shlomi-noach commented on #94
I am afraid I am no longer available to mentor for this project for this GSoC session. My sincere apologies to the potential students.

[2016-03-15 08:23] #94 closed

[2016-03-15 13:47] nikibobi commented on #112
Hi, I'm interested in this project for GSoC. I have C# experience and I think I can handle this task. I have also developed a simple C# API wrapper for Pastebin in the past.

[2016-03-15 16:08] parkr commented on #116
Hey @davgit2 –

This is a great idea for GSoC. I know of many Jekyll users who would love to use Jekyll to write long-form essays and books with greater support for portability to various devices. We would be happy to mentor you for this project if you applied. I can foresee certain challenges in customization of this plugin (e.g. styling the PDF, choosing which formats to allow, etc), as well as

[2016-03-15 17:24] Purushottamjoshi commented on #96
Sounds great.....would like to work on this one

[2016-03-15 22:48] leonnardo commented on #91
@johndbritton,

Hello,

I tried to setup a development environment in my machine but in last step (run server) I got this error and I can't find a solution: https://gist.github.com/leonnardo/06ed3acea0b8569cf595

How can I fix this?

[2016-03-15 22:57] gweennnnn commented on #115
Hi @johndbritton @tarebyte Is there a list of things that are being stored/recorded in the database already, such as the day students accept the assignments/the day the classroom was made? It would give a better idea of what can be done using existing data!

[2016-03-15 23:17] shiftkey commented on #112
@nikibobi welcome - please have a read of the related issue and also the work involved with [writing a proposal](http://write.flossmanuals.net/gsocstudentguide/writing-a-proposal/) - applications are now open!

[2016-03-16 03:58] cyhsutw commented on #115
Hi @johndbritton @tarebyte

I took a look at the DB schemas of `classroom` and try to brainstorm the metrics we can present to the site admins and teachers:

### For Site Admins
- Count of resources as mentioned in [education/classroom#356](https://github.com/education/classroom/issues/356)
- Associations between resources:
  - Average #users per organization
  - Average #assignments per organizat

[2016-03-16 09:22] johndbritton commented on #115
@gweennnnn You can take a look at [`schema.rb`](https://github.com/education/classroom/blob/master/db/schema.rb) to get an idea of what the DB structure looks like.

[2016-03-17 08:53] ismnoiet commented on #108
HI, @benbalter may be i'm a little bit late but i think this is interesting and actually i'm working on some jekyll related things. Can you please give me more details.

[2016-03-17 09:04] ismnoiet commented on #106
@benbalter  This is interesting, and  i have 1 question :

Is it the publisher who add the translated version or it is generated automatically ?.

Thanks.

[2016-03-17 14:10] benbalter commented on #106
@ismnoiet Awesome to hear. It would be the publisher who would translate the content. Hope you consider applying!

[2016-03-17 14:12] benbalter commented on #108
@ismnoiet Not too late at all. You've got [until March 25th to apply](https://developers.google.com/open-source/gsoc/timeline). Reading through the above thread should be a good place to start, in terms of better understanding the suggested project. Did you have any specific questions or concerns we could help answer?

[2016-03-17 14:26] ismnoiet commented on #106
thanks @benbalter  for the response and I'll do my best to apply.

[2016-03-17 14:37] ismnoiet commented on #108
Thanks @benbalter, yes i have some questions and ideas and i'll be discussing them with you if will
very soon.

[2016-03-17 16:57] abhishekc-sharma commented on #95
@technicalpickles have shared the draft link for my proposal. Looking forward to the feedback :)

[2016-03-18 21:28] bridiver commented on #98
I am currently working on implementing the chrome.\* APIs and have made significant progress. I'll have updates for electron and libhchromiumcontent soon. Our minimum api requirements are based around other extensions, but it probably covers a lot of what is necessary for devtools

[2016-03-19 05:40] an0sunshy commented on #106
What suggestions would you give to an applicant who has little or zero experience in localization and internationalization?

[2016-03-19 12:40] ismnoiet commented on #106
@soulboyx  just use [google](https://google.com) and [stackoverflow](https://stackoverflow.com)
i'm sure you'll find interesting articles and topics about internationalization.

Good luck :).

[2016-03-21 03:39] GDLMadushanka commented on #99
@shana It's only 4 days remaining till final proposal submission. My proposal didn't get any comments to make improvements. Can you please look into that. Thanks.

[2016-03-21 18:22] h4ck3rk3y commented on #94
I was interested in working on this as a side project and not as a GSoC student as my summer wasn't free enough but I wasn't sure if I should go ahead with the idea in case someone else is working on it but now I guess there won't be any conflict as this isn't open for mentorship.

Sad to hear that this won't be a GSoC project though. Was really looking forward to see this implemented, this was by

[2016-03-22 08:31] ghost commented on #116
<p>Glad you like the idea 😃. Sorry for the delay, I have done some additional research. Kramdown supports Markdown to PDF conversion via Prawn since <a href="http://kramdown.gettalong.org/news.html">version 1.3.0</a>, but I didn't find any good Markdown to Epub converter, neither using Kramdown, nor written in Ruby, so maybe a <a href="https://rubygems.org/gems/pandoc-ruby/versions/1.0.0">Pandoc R

[2016-03-23 14:28] arrowrowe commented on #107
Hi, mind asking the current progress here? Didn't find much information in [Jekyll's repo](https://github.com/jekyll/jekyll) (by searching inside it) or @hackerkid's public activities.

[2016-03-23 14:38] benbalter commented on #107
@arrowrowe the project is still a proposed idea. I suspect the above discussion was largely part of [the Google Summer of Code Application process](https://developers.google.com/open-source/gsoc/).

[2016-03-23 14:47] arrowrowe commented on #107
@benbalter got it. Thanks for the response!

[2016-03-24 05:01] Sneezry commented on #107
Here's a project I wrote last year, and published just now.

https://github.com/JekyllWriter/JekyllWriter

![71ec0c97jw1ez0vgutjqtj21a00z0ae1](https://cloud.githubusercontent.com/assets/1621293/14008805/6f94f0c6-f1c0-11e5-868d-4ef0e182667b.jpg)

[2016-03-24 05:05] rebornix commented on #107
@Sneezry currently it's more or less a Writer, you can make it a real administrator application :+1:

[2016-03-24 05:12] Sneezry commented on #107
@rebornix Yeah, I'll try to do it :)

[2016-03-24 09:19] rush-skills commented on #107
Hey @benbalter . I would love to work on this project for GSoC'16. I have sent a mail to you and @parkr with some ideas and would love your feedback.

[2016-03-24 09:26] hackerkid commented on #107
@Sneezry Thanks for sharing the project.

[2016-03-24 14:35] dasilvacontin commented on #92
Regarding repository metadata, it would be nice if you could tell which repositories pass tests (CI build success) in the repository listing.

Maybe that's what you meant with 'last push'.

[2016-03-25 04:02] sahilshekhawat commented on #92
@johndbritton @tarebyte

This part is just about creating a new repository or restoring? If it is about just creating a repository. It should be easy enough. for restoring, I think we can restore issues by saving them in our database (just the title and details) and restore it from there.

Existing repo can be anywhere or its owner must be the student who is submitting?

Does creating a tool like

[2016-03-25 11:32] sahilshekhawat commented on #92
@johndbritton I am finishing up my proposal, it will be nice if you can clear some of my doubts here. Thanks

[2016-03-25 11:41] johndbritton commented on #92
The goal here is to provide the user a way to recover from the situation where a repository created by Classroom has been deleted. Recovery may be impossible, but replacing the repo with a new one should be relatively easy. How we do it is less important than making sure it's a good experience for the user.

The existing repo would have to be in the Classroom organization. Imagine a case where a s

[2016-03-25 11:49] sahilshekhawat commented on #92
I agree, creating a new repository is easy. We can recover issues by storing them to Classroom's database but that will increase computation many folds since we will have to keep them in sync.

I think that it is a design issue but I am more inclined towards creating a new repository because using existing repo might cause an issue. On the other hand, we can create a convention and not let user cr

[2016-03-25 12:11] johndbritton commented on #92
We're trying to avoid having the app create assets or need to serve the data, where possible we should rely on the github.com infrastructure as it's much more suited for scalable use. With very large classes (hundreds of students) we could see performance issues on Classroom if we made the archives on our side.

[2016-03-25 12:15] sahilshekhawat commented on #92
I agree, then its better to create a client side tool.

Is it fine that I showed up on the last day of deadline? I actually talked to Mike McQuaid during an open source conference and he inspired to me to apply.

[2016-03-25 12:17] sahilshekhawat commented on #92
Also, maybe we can extend our client side tool with a desktop app in the future.

[2016-03-25 12:28] johndbritton commented on #92
@sahilshekhawat Yes, it's totally fine. I'd suggest you get your application in ASAP so there might be a chance to receive feedback before the deadline.

[2016-03-25 12:57] sahilshekhawat commented on #92
For bulk downloading in the web app, can we use a js library like https://stuk.github.io/jszip/documentation/examples.html and recursively create a single zip file using all the repos since github already provides zips for each repo?

[2016-03-25 13:16] dasilvacontin commented on #92
Why not have a CLI that clones/pulls all the assignments? Having the actual git repo has multiple benefits:
- what's the current state/version of the repo? am I updated/outdated? just need to check the HEAD
- to update the assignment, only the new commits have to fetched, instead of downloading the whole repository again
- integration with git tools/plugins, e.g.:
  - when browsing assignment, can

[2016-03-25 13:23] sahilshekhawat commented on #92
yeah, I agree and I am planning to have both a CLI and a webapp feature to download all the submission. webapp feature will be implemented using JSZip and Github API's `archive_url` for individual repos. This feature will provide an easy alternative much like Github own zip download option.

[2016-03-25 14:14] sahilshekhawat commented on #92
I have uploaded my project for reference, will be updating it till the deadline. Would love to get any kind of feedback.

[2016-03-25 16:34] sahilshekhawat commented on #92
@johndbritton @tarebyte Any feedback on my proposal?

[2016-03-25 16:52] johndbritton commented on #92
@sahilshekhawat I'm taking a look at it, but I don't think I will have time to give feedback before the deadline.

[2016-03-27 09:32] sahilshekhawat commented on #92
I was wondering if instead of creating a separate command line tool, we can add those functionality to hub itself? @johndbritton what do you think?

[2016-03-27 09:55] johndbritton commented on #92
I don't know if `hub` supports extensions / plugins, but if it does that could be an interesting solution. I wouldn't expect the `hub` maintainers to accept changes specific to Classroom into the main project though.

[2016-03-28 23:05] dasilvacontin commented on #92
I would be surprised otherwise. You can always make a git alias, in case you wanted to use the CLI ala `git assignment multi-clone 10861471-kipos/test-assignment`.

More functionality could be added in the future, e.g. `git assignment create 10861471-kipos -t "ATM Simulator"` (creates individual assignment named "ATM Simulator" with current git repo as starter code). Though there's a lot of import

[2016-03-29 16:02] bridiver commented on #98
does anyone have a list of the APIs that are required for this ticket? I have the "common" APIs like webRequest and runtime working and partial support for browser APIs like windows, tabs and browserAction. I also implemented a chrome.ipc API that gives content scripts and background pages access to ipcRenderer. Based on #177 it sounds like only content scripts are needed and those are working wit

[2016-04-01 02:51] zcbenz commented on #98
@bridiver This is awesome! We don't really have a list of APIs required, for react-devtools only, I think `chrome.runtime.connect` is required:
https://github.com/facebook/react-devtools/search?p=2&q=%22chrome.%22&type=Code&utf8=✓

Also are you going to attend Google Summer of Code? 😸

[2016-04-01 16:56] bridiver commented on #98
@zcbenz there wasn't really a good way to get chrome/common/extensions without pulling in all of chrome/common. I'm not seeing any issues with the overlap in chromium_src/chrome/common and I know some of those files make electron-specific changes, but it seems like some of them are basically just copied over. Am I missing anything or can a lot of them be eliminated and added to `OTHER_HEADERS` in

[2016-04-05 14:49] ghost commented on #116
Hello It's me again, due to an unfortunate problem I had to delete my Github account. Since I cannot edit anymore my old posts I let you know here that my account has changed (but my username is still the same).

[2016-04-11 18:21] jvilk commented on #92
Just to add my own voice in here: I'm using GitHub classroom in a class with 100 students using private repositories. The "importer", which creates the repository for a student, allows the student to _cancel_ the import. When this occurs, we are left with an empty repository in our org account.

If I delete the repository, GitHub classroom will not allow the student to re-import the repository; it

[2016-04-12 00:28] zcbenz commented on #98
@bridiver The source files of Chromium are copied to `chromium_src` when they:
a) need to be modified to be able to build with Electron;
b) are more easy to be maintained when copied over.

and I think most of the files have been modified, because the original design usually does not fit Electron API's usages.

I'm not sure whether building with everything under `chrome/common` would be a good ide

[2016-04-12 01:34] bridiver commented on #98
@zcbenz once I got it all working I was able to go back and remove the dependency on chrome/common (and just add a few more files to chromium_src).

[2016-04-13 11:17] johndbritton commented on #92
There's no way for us to disable that functionality, unfortunately. @jvilk Would you mind opening another issue specifically about stopping the user from canceling the import / re-importing in the case of aborting? I think we could side-step the issue by showing a progress bar on the accept page until the import is done.

https://github.com/education/classroom/issues/new

[2016-04-13 15:50] bridiver commented on #98
support for some other extensions took priority over getting things ready for upstream this week for me, but we need to rebase anyway to catch up so I plan on having a PR ready next week. Originally I tried to pull in as little as possible, but that actually ended up making things more difficult and complicated. They did a reasonably good job of separating extensions from chrome/\* and from the re

[2016-05-26 18:02] jmarlena commented on #103
Hey @lee-dohm!  I am really excited about this idea. I am wondering what's the timeline or next steps for this?

[2016-05-26 18:22] hackerkid commented on #103
@lee-dohm I am also interested in this. Would love to know more. :sparkles:

[2016-06-01 06:31] nalasbali opened #117 "Open Source for Computer Science education"
Hi all,

I would like to invite you to participate in my PhD research which is about contributing to Open Source to modernize Computer Science education. The survey will take few minutes but will be of great value to my research as i need direct evidences from OS communities like you, plz.
I hope you will be happy to participate by clicking on the link below & feel free to answer any number of que

[2016-06-04 06:35] clintonb commented on #106
Additional prior art: https://github.com/Anthony-Gaudino/jekyll-multiple-languages-plugin.

[2016-06-06 13:39] abdulhannanali opened #118 "Any node.js project available here?"
I am a node developer and don't feel like I have anything to contribute to the Jekyll and Ruby projects here.. :smile:

[2016-06-06 13:45] bkeepers commented on #118
Hi @abdulhannanali, thanks for getting in touch! We don't have any mentorships available with node at the moment, but keep an eye on this repository for more opportunities.

In the mean time, you might want to check out [@atom issues labeled "help-wanted"](https://github.com/search?utf8=%E2%9C%93&q=org%3Aatom+label%3Ahelp-wanted+is%3Aopen&type=Issues&ref=searchresults) for ways you could contribut

[2016-06-06 13:45] #118 closed

[2016-06-06 13:52] abdulhannanali commented on #118
Hey @bkeepers!
Thanks a lot I will definitely keep an eye on this repo. :+1:
I will also check out @atom as it's a cool text editor and other cool projects too. :smile:

[2016-06-13 15:38] bkeepers commented on #117
Hey Nada, This isn't really the right venue for this type of content. Good luck on your research.

[2016-06-13 15:38] #117 closed

[2016-06-14 11:57] daviddarnes commented on #105
What's the current status on this? I've been experimenting with gem based Jekyll themes and I'm really liking is so far. I'd like get onboard with it in some way 😄

[2016-06-14 13:24] benbalter commented on #105
@daviddarnes we'd still very much like to see this, but in terms of GitHub mentorships, we don't currently have any [available programs](https://github.com/github/mentorships/labels/program).

[2016-06-14 13:24] benbalter commented on #104
@johndbritton can this be closed so it does not appear as an [available program](https://github.com/github/mentorships/labels/program)?

[2016-06-14 15:34] daviddarnes commented on #105
@benbalter that's fine, I was replying to this as I followed it from related issues to the Jekyll themes integration. Maybe this should be a new topic on [talk.jekyllrb.com](https://talk.jekyllrb.com)? Then we can see what direction the community wants to take? 💭

[2016-07-05 15:11] greenbigfrog commented on #116
This is exactly what I'm looking for. Any update?

[2016-07-05 16:15] parkr commented on #116
@greenbigfrog This was not selected for this year's GSoC and to the best of my knowledge is not under active development. There may be a third-party plugin available, but I don't know of one.

[2016-09-04 22:14] pratyush247 commented on #104
What about 2017 i passionately want to do gsoc can anyone help me how to get gist of projects and how to start with one without wasting time ?

[2016-09-06 14:04] #104 closed

[2016-09-28 15:37] equinox commented on #103
@lee-dohm Any potential updates on this?

[2016-09-28 23:52] lee-dohm commented on #103
This is something we're still pursuing and working on. We don't have anything to share right now or an ETA on when we will have something public. For now, I'm going to close this and reopen it when we have an update. It's something that we're really excited about and I'm personally working pretty hard on, there's just a lot to work out :grinning: Thanks everyone for your patience. If you're intere

[2016-09-28 23:52] #103 closed

[2016-09-29 00:43] tarebyte commented on #92
This was taken on by @cyhsutw for Google Summer of Code 2016 and is currently in progress.

[2016-09-29 00:44] tarebyte commented on #91
This was taken on by @cyhsutw for Google Summer of Code 2016 and is currently in progress.

[2016-09-29 00:44] #91 closed

[2016-09-29 00:46] tarebyte commented on #90
This was taken on by @dinever for Google Summer of Code 2016 and is currently in progress.

[2016-09-29 00:46] #90 closed

[2016-09-29 00:48] tarebyte commented on #92
- [Handle repository already exists on GitHub (#319)](https://github.com/education/classroom/issues/319)
- [Ability to clone repositories from assignment submission list (#394)](https://github.com/education/classroom/issues/394)

Are already done, but [Transfer repositories (#438)](https://github.com/education/classroom/issues/438) is still open for any takers!

[2016-09-29 19:31] benbalter commented on #107
🎉  See https://github.com/jekyll/jekyll-admin.

[2016-09-29 19:31] #107 closed

[2016-09-30 05:09] shiftkey commented on #112
This was completed as part of GSoC 2016! :tada:

[2016-09-30 05:09] #112 closed

[2016-09-30 05:31] #101 closed

[2016-09-30 05:32] shiftkey commented on #100
This effort has commenced by members of the Octokit community.

[2016-09-30 05:32] #100 closed

[2016-09-30 14:57] fossygirl commented on #98
Closing per email conversation with @zcbenz

[2016-09-30 14:57] #98 closed

[2016-09-30 14:57] fossygirl commented on #97
Closing per email conversation with @zcbenz

[2016-09-30 14:57] #97 closed

[2016-10-03 10:56] #99 closed

[2016-12-17 05:22] sxlijin commented on #91
Linking education/classroom#720 which is the currently open PR for this.

[2017-01-11 17:57] babhishek21 commented on #115
Is this project idea available for **GSOC '17**?

[2017-01-11 18:21] tarebyte commented on #115
@babhishek21 unfortunately we're not taking on any GSOC students for the Classroom project this summer.

Thank you for your interest though!

[2017-01-11 18:21] #115 closed

[2017-01-11 18:27] tarebyte commented on #92
Classroom projects are no longer apart of the selection for GSOC '17. Closing this out to save confusion.

[2017-01-11 18:27] #92 closed

[2017-01-11 18:34] babhishek21 commented on #115
@tarebyte No problem. Is this situation limited to the Classroom project, or are other GitHub projects not participating as well?

[2017-01-11 18:39] tarebyte commented on #115
I don't believe so no, as far as I know GitHub is still participating in GSOC '17

[2017-01-12 05:25] babhishek21 commented on #95
Is this project idea available for **GSOC '17**?

[2017-01-16 11:05] #116 closed

[2017-01-20 13:56] MikeMcQuaid commented on #20
@tarebyte Was scrolling through old GSoC issues and saw this. Fun how history ends up 👋 😀

[2017-01-23 09:01] hardlyhuman commented on #106
I am interested in working on this. I know French, Spanish and german to some extent.  And I have a basic knowledge in Ruby too.

[2017-02-07 09:05] MikeMcQuaid commented on #95
GitHub is not participating directly in GSoC 2017. The Homebrew project (which I maintain) has applied to participate this summer: https://github.com/Homebrew/Outreachy-and-Google-Summer-of-Code. Note you'll need access to a Mac to take part. Thanks!

[2017-02-07 09:05] #95 closed

[2017-02-07 09:05] MikeMcQuaid commented on #96
GitHub is not participating directly in GSoC 2017. The Homebrew project (which I maintain) has applied to participate this summer: https://github.com/Homebrew/Outreachy-and-Google-Summer-of-Code. Note you'll need access to a Mac to take part. Thanks!

[2017-02-07 09:05] #96 closed

[2017-02-07 09:05] MikeMcQuaid commented on #105
GitHub is not participating directly in GSoC 2017. The Homebrew project (which I maintain) has applied to participate this summer: https://github.com/Homebrew/Outreachy-and-Google-Summer-of-Code. Note you'll need access to a Mac to take part. Thanks!

[2017-02-07 09:05] #105 closed

[2017-02-07 09:05] MikeMcQuaid commented on #106
GitHub is not participating directly in GSoC 2017. The Homebrew project (which I maintain) has applied to participate this summer: https://github.com/Homebrew/Outreachy-and-Google-Summer-of-Code. Note you'll need access to a Mac to take part. Thanks!

[2017-02-07 09:05] #106 closed

[2017-02-07 09:05] MikeMcQuaid commented on #108
GitHub is not participating directly in GSoC 2017. The Homebrew project (which I maintain) has applied to participate this summer: https://github.com/Homebrew/Outreachy-and-Google-Summer-of-Code. Note you'll need access to a Mac to take part. Thanks!

[2017-02-07 09:05] #108 closed